<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/18th-Dec-2025/Spark_Nested_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [2]:
from pyspark.sql.types import ArrayType

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("MyApp") \
    .getOrCreate()

In [4]:
interest_data = [
    ("U001",["AI","ML","Cloud"]),
    ("U002",["Testing","Automation"]),
    ("U003",["Data Engineering","Spark","Kafka"]),
    ("U004",["UI/UX"])
]

In [17]:
from pyspark.sql.types import StructType,StructField,StringType,ArrayType, IntegerType
intrest_schema=StructType([
    StructField("user_id",StringType(),True),
    StructField("intrests",ArrayType(StringType()),True)
])

In [8]:
df_user=spark.createDataFrame(data=interest_data,schema=intrest_schema)
df_user.show()
df_user.printSchema()

+-------+--------------------+
|user_id|            intrests|
+-------+--------------------+
|   U001|     [AI, ML, Cloud]|
|   U002|[Testing, Automat...|
|   U003|[Data Engineering...|
|   U004|             [UI/UX]|
+-------+--------------------+

root
 |-- user_id: string (nullable = true)
 |-- intrests: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [13]:
from pyspark.sql.functions import explode
df_user.select("user_id",explode("intrests")).show()

+-------+----------------+
|user_id|             col|
+-------+----------------+
|   U001|              AI|
|   U001|              ML|
|   U001|           Cloud|
|   U002|         Testing|
|   U002|      Automation|
|   U003|Data Engineering|
|   U003|           Spark|
|   U003|           Kafka|
|   U004|           UI/UX|
+-------+----------------+

In [16]:
from pyspark.sql.types import MapType
device_data = [
    ("U001",{"mobile":120,"laptop":300}),
    ("U002",{"tablet":80}),
    ("U003",{"mobile":200,"desktop":400}),
    ("U004",{"laptop":250})
]

In [18]:

device_schema=StructType([
    StructField("user_id", StringType(), False),
    StructField("device_usage", MapType(StringType(), IntegerType()), True)
])

In [19]:
df_devices=spark.createDataFrame(device_data, device_schema)
df_devices.printSchema()
df_devices.show(truncate=False)

root
 |-- user_id: string (nullable = false)
 |-- device_usage: map (nullable = true)
 |    |-- key: string
 |    |-- value: integer (valueContainsNull = true)

+-------+-------------------------------+
|user_id|device_usage                   |
+-------+-------------------------------+
|U001   |{mobile -> 120, laptop -> 300} |
|U002   |{tablet -> 80}                 |
|U003   |{mobile -> 200, desktop -> 400}|
|U004   |{laptop -> 250}                |
+-------+-------------------------------+

In [20]:
nested_data = [

    ("U001",("Hyderabad","Telangana",500081)),

    ("U002",("Delhi","Delhi",110001)),

    ("U003",("Bangalore","Karnataka",560001))

]


address_schema=StructType([
    StructField("city", StringType(), True),
    StructField("state", StringType(), True),
    StructField("pincode", IntegerType(), True)
])


profile_schema=StructType([
    StructField("user_id", StringType(), False),
    StructField("address", address_schema, True)
])

In [21]:

df_profiles=spark.createDataFrame(nested_data, profile_schema)
df_profiles.printSchema()
df_profiles.show(truncate=False)

root
 |-- user_id: string (nullable = false)
 |-- address: struct (nullable = true)
 |    |-- city: string (nullable = true)
 |    |-- state: string (nullable = true)
 |    |-- pincode: integer (nullable = true)

+-------+------------------------------+
|user_id|address                       |
+-------+------------------------------+
|U001   |{Hyderabad, Telangana, 500081}|
|U002   |{Delhi, Delhi, 110001}        |
|U003   |{Bangalore, Karnataka, 560001}|
+-------+------------------------------+

In [22]:

df_profiles.select(
    "user_id",
    "address.city",
    "address.state"
).show()

+-------+---------+---------+
|user_id|     city|    state|
+-------+---------+---------+
|   U001|Hyderabad|Telangana|
|   U002|    Delhi|    Delhi|
|   U003|Bangalore|Karnataka|
+-------+---------+---------+