<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/15th-Dec-2025/pyspark_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f
spark=SparkSession.builder.appName("Ride").getOrCreate()

data = [
    ("T001","Amit","Hyderabad","Ramesh","Sedan",12.5,320,28,"UPI","Completed"),
    ("T002","Neha","Bangalore","Suresh","Mini",8.2,210,22,"Card","Completed"),
    ("T003","Rahul","Delhi","Anil","Bike",5.1,120,15,"Cash","Completed"),
    ("T004","Pooja","Mumbai","Vikas","SUV",18.0,560,45,"UPI","Cancelled"),
    ("T005","Arjun","Chennai","Kumar","Mini",7.8,200,20,"UPI","Completed"),
    ("T006","Sneha","Hyderabad","Ramesh","Sedan",14.2,360,32,"Card","Completed"),
    ("T007","Karan","Delhi","Anil","Bike",6.3,140,18,"UPI","Completed"),
    ("T008","Riya","Bangalore","Suresh","Sedan",11.0,300,27,"Wallet","Completed"),
    ("T009","Vikas","Mumbai","Vijay","SUV",20.5,650,50,"Card","Completed"),

    ("T010","Anjali","Chennai","Kumar","Bike",4.9,110,14,"Cash","Completed"),
    ("T011","Farhan","Delhi","Anil","Mini",9.6,240,25,"UPI","Completed"),
    ("T012","Megha","Hyderabad","Ramesh","SUV",19.2,610,48,"Card","Cancelled"),
    ("T013","Suresh","Bangalore","Suresh","Sedan",13.0,340,30,"UPI","Completed"),
    ("T014","Divya","Mumbai","Vikas","Mini",10.2,260,26,"Wallet","Completed"),
    ("T015","Nikhil","Delhi","Anil","Sedan",15.5,390,34,"UPI","Completed"),
    ("T016","Kavya","Chennai","Kumar","Sedan",12.1,315,29,"UPI","Completed"),
    ("T017","Rohit","Hyderabad","Ramesh","SUV",22.0,700,55,"Card","Completed"),
    ("T018","Simran","Bangalore","Suresh","Bike",5.8,130,16,"Cash","Completed"),
    ("T019","Ayesha","Mumbai","Vijay","Mini",9.9,250,24,"UPI","Completed"),
    ("T020","Manish","Delhi","Anil","Bike",6.0,135,17,"Wallet","Completed"),

    ("T021","Priya","Hyderabad","Ramesh","Sedan",14.8,380,33,"Card","Completed"),
    ("T022","Yash","Chennai","Kumar","SUV",21.3,680,52,"UPI","Completed"),
    ("T023","Naina","Bangalore","Suresh","Mini",10.7,270,28,"UPI","Completed"),
    ("T024","Sameer","Mumbai","Vikas","Sedan",13.9,350,31,"Wallet","Completed"),
    ("T025","Ritika","Delhi","Anil","Bike",5.4,125,16,"Cash","Completed"),
    ("T026","Gopal","Hyderabad","Ramesh","Mini",8.9,225,23,"UPI","Completed"),
    ("T027","Tina","Bangalore","Suresh","Sedan",12.6,330,29,"Card","Completed"),
    ("T028","Irfan","Mumbai","Vijay","SUV",23.4,740,58,"Card","Completed"),
    ("T029","Sahil","Chennai","Kumar","Mini",9.4,235,24,"UPI","Completed"),
    ("T030","Lavanya","Delhi","Anil","Sedan",14.1,365,32,"Wallet","Completed"),

    ("T031","Deepak","Hyderabad","Ramesh","Bike",6.7,150,18,"Cash","Completed"),
    ("T032","Shweta","Bangalore","Suresh","Mini",10.0,255,26,"UPI","Completed"),
    ("T033","Aman","Mumbai","Vikas","Sedan",15.8,395,35,"Card","Completed"),
    ("T034","Rekha","Chennai","Kumar","Sedan",13.5,345,30,"UPI","Completed"),
    ("T035","Zubin","Delhi","Anil","SUV",24.0,760,60,"Card","Completed"),
    ("T036","Pallavi","Hyderabad","Ramesh","Mini",9.1,230,23,"Wallet","Completed"),
    ("T037","Naveen","Bangalore","Suresh","Bike",5.9,135,17,"UPI","Completed"),
    ("T038","Sonia","Mumbai","Vijay","SUV",21.7,690,54,"Card","Completed"),
    ("T039","Harish","Chennai","Kumar","Mini",8.5,215,21,"Cash","Completed"),
    ("T040","Kriti","Delhi","Anil","Sedan",14.6,375,33,"UPI","Completed"),

    ("T041","Apoorva","Hyderabad","Ramesh","Sedan",13.2,335,30,"Card","Completed"),
    ("T042","Mohit","Bangalore","Suresh","SUV",19.9,620,49,"UPI","Completed"),
    ("T043","Tanvi","Mumbai","Vikas","Mini",10.4,265,27,"Wallet","Completed"),
    ("T044","Rakesh","Chennai","Kumar","Bike",6.2,140,18,"Cash","Completed"),
    ("T045","Isha","Delhi","Anil","Mini",9.7,245,25,"UPI","Completed")
]
columns = [
"trip_id","rider_name","city","driver_name","vehicle_type",
"distance_km","trip_fare","trip_duration_minutes",
"payment_mode","trip_status"
]
df = spark.createDataFrame(data, columns)
df.show()
df.printSchema()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T001|      Amit|Hyderabad|     Ramesh|       Sedan|       12.5|      320|                   28|         UPI|  Completed|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed|
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|
|   T006|     Sneha|Hyderabad|     Ramesh|       Sedan|       14.2|      360|                   32|        Card|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
|   T008|      Riya|Bangalore|     Suresh|       Sedan|       11.0|      300|                   27|      Wallet|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|  Completed|
|   T011|    Farhan|    Delhi|       Anil|        Mini|        9.6|      240|                   25|         UPI|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T013|    Suresh|Bangalore|     Suresh|       Sedan|       13.0|      340|                   30|         UPI|  Completed|
|   T014|     Divya|   Mumbai|      Vikas|        Mini|       10.2|      260|                   26|      Wallet|  Completed|
|   T015|    Nikhil|    Delhi|       Anil|       Sedan|       15.5|      390|                   34|         UPI|  Completed|
|   T016|     Kavya|  Chennai|      Kumar|       Sedan|       12.1|      315|                   29|         UPI|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|
|   T019|    Ayesha|   Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|
|   T020|    Manish|    Delhi|       Anil|        Bike|        6.0|      135|                   17|      Wallet|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
only showing top 20 rows
root
 |-- trip_id: string (nullable = true)
 |-- rider_name: string (nullable = true)
 |-- city: string (nullable = true)
 |-- driver_name: string (nullable = true)
 |-- vehicle_type: string (nullable = true)
 |-- distance_km: double (nullable = true)
 |-- trip_fare: long (nullable = true)
 |-- trip_duration_minutes: long (nullable = true)
 |-- payment_mode: string (nullable = true)
 |-- trip_status: string (nullable = true)

In [2]:
df.write.mode("overwrite").option("header",True).csv("trips_csv/")

In [7]:

s = df.filter(
    (f.col("trip_fare") > 400) &
    (f.col("trip_status") == "Completed")
)
s.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

In [11]:
s=df.orderBy(f.col("trip_fare").desc()).select("city","trip_id","vehicle_type","trip_fare")
s.show()

+---------+-------+------------+---------+
|     city|trip_id|vehicle_type|trip_fare|
+---------+-------+------------+---------+
|    Delhi|   T035|         SUV|      760|
|   Mumbai|   T028|         SUV|      740|
|Hyderabad|   T017|         SUV|      700|
|   Mumbai|   T038|         SUV|      690|
|  Chennai|   T022|         SUV|      680|
|   Mumbai|   T009|         SUV|      650|
|Bangalore|   T042|         SUV|      620|
|Hyderabad|   T012|         SUV|      610|
|   Mumbai|   T004|         SUV|      560|
|   Mumbai|   T033|       Sedan|      395|
|    Delhi|   T015|       Sedan|      390|
|Hyderabad|   T021|       Sedan|      380|
|    Delhi|   T040|       Sedan|      375|
|    Delhi|   T030|       Sedan|      365|
|Hyderabad|   T006|       Sedan|      360|
|   Mumbai|   T024|       Sedan|      350|
|  Chennai|   T034|       Sedan|      345|
|Bangalore|   T013|       Sedan|      340|
|Hyderabad|   T041|       Sedan|      335|
|Bangalore|   T027|       Sedan|      330|
+---------+-------+------------+---------+
only showing top 20 rows

In [13]:
s=df.filter(f.col("vehicle_type")==("Bike"))
s.show()
s.write.mode("overwrite").option("header",True).option("delimiter",True).csv("bike_trips/")

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|  Completed|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|
|   T020|    Manish|    Delhi|       Anil|        Bike|        6.0|      135|                   17|      Wallet|  Completed|
|   T025|    Ritika|    Delhi|       Anil|        Bike|        5.4|      125|                   16|        Cash|  Completed|
|   T031|    Deepak|Hyderabad|     Ramesh|        Bike|        6.7|      150|                   18|        Cash|  Completed|
|   T037|    Naveen|Bangalore|     Suresh|        Bike|        5.9|      135|                   17|         UPI|  Completed|
|   T044|    Rakesh|  Chennai|      Kumar|        Bike|        6.2|      140|                   18|        Cash|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

In [14]:
mumbai_trips_json=df.filter(f.col("city")=="Mumbai")
mumbai_trips_json.show()
mumbai_trips_json.write.mode("overwrite").option("header",True).json("mumbai_trips_json/")

+-------+----------+------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|  city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T004|     Pooja|Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T009|     Vikas|Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T014|     Divya|Mumbai|      Vikas|        Mini|       10.2|      260|                   26|      Wallet|  Completed|
|   T019|    Ayesha|Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|
|   T024|    Sameer|Mumbai|      Vikas|       Sedan|       13.9|      350|                   31|      Wallet|  Completed|
|   T028|     Irfan|Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T033|      Aman|Mumbai|      Vikas|       Sedan|       15.8|      395|                   35|        Card|  Completed|
|   T038|     Sonia|Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T043|     Tanvi|Mumbai|      Vikas|        Mini|       10.4|      265|                   27|      Wallet|  Completed|
+-------+----------+------+-----------+------------+-----------+---------+---------------------+------------+-----------+

In [16]:
df2=df.withColumn("fare_per_km",f.col("trip_fare")/f.col("distance_km"))
df2.show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|       fare_per_km|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
|   T001|      Amit|Hyderabad|     Ramesh|       Sedan|       12.5|      320|                   28|         UPI|  Completed|              25.6|
|   T002|      Neha|Bangalore|     Suresh|        Mini|        8.2|      210|                   22|        Card|  Completed| 25.60975609756098|
|   T003|     Rahul|    Delhi|       Anil|        Bike|        5.1|      120|                   15|        Cash|  Completed|23.529411764705884|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled| 31.11111111111111|
|   T005|     Arjun|  Chennai|      Kumar|        Mini|        7.8|      200|                   20|         UPI|  Completed|25.641025641025642|
|   T006|     Sneha|Hyderabad|     Ramesh|       Sedan|       14.2|      360|                   32|        Card|  Completed| 25.35211267605634|
|   T007|     Karan|    Delhi|       Anil|        Bike|        6.3|      140|                   18|         UPI|  Completed| 22.22222222222222|
|   T008|      Riya|Bangalore|     Suresh|       Sedan|       11.0|      300|                   27|      Wallet|  Completed|27.272727272727273|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed| 31.70731707317073|
|   T010|    Anjali|  Chennai|      Kumar|        Bike|        4.9|      110|                   14|        Cash|  Completed|22.448979591836732|
|   T011|    Farhan|    Delhi|       Anil|        Mini|        9.6|      240|                   25|         UPI|  Completed|              25.0|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|31.770833333333336|
|   T013|    Suresh|Bangalore|     Suresh|       Sedan|       13.0|      340|                   30|         UPI|  Completed|26.153846153846153|
|   T014|     Divya|   Mumbai|      Vikas|        Mini|       10.2|      260|                   26|      Wallet|  Completed|25.490196078431374|
|   T015|    Nikhil|    Delhi|       Anil|       Sedan|       15.5|      390|                   34|         UPI|  Completed|25.161290322580644|
|   T016|     Kavya|  Chennai|      Kumar|       Sedan|       12.1|      315|                   29|         UPI|  Completed| 26.03305785123967|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|31.818181818181817|
|   T018|    Simran|Bangalore|     Suresh|        Bike|        5.8|      130|                   16|        Cash|  Completed|22.413793103448278|
|   T019|    Ayesha|   Mumbai|      Vijay|        Mini|        9.9|      250|                   24|         UPI|  Completed|25.252525252525253|
|   T020|    Manish|    Delhi|       Anil|        Bike|        6.0|      135|                   17|      Wallet|  Completed|              22.5|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+------------------+
only showing top 20 rows

In [19]:
df.filter((f.col("payment_mode")=="Card") & (f.col("vehicle_type")=="SUV")).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

In [22]:

df.coalesce(1).write.mode("overwrite").json("/tmp/my_df_json")

In [23]:
df.write.mode("overwrite").parquet("trips_parquet/")

In [24]:
df.filter(f.col("trip_duration_minutes")>45).show()

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+

In [28]:
df.orderBy(f.col("distance_km").desc()).show(10)

+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|trip_id|rider_name|     city|driver_name|vehicle_type|distance_km|trip_fare|trip_duration_minutes|payment_mode|trip_status|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
|   T035|     Zubin|    Delhi|       Anil|         SUV|       24.0|      760|                   60|        Card|  Completed|
|   T028|     Irfan|   Mumbai|      Vijay|         SUV|       23.4|      740|                   58|        Card|  Completed|
|   T017|     Rohit|Hyderabad|     Ramesh|         SUV|       22.0|      700|                   55|        Card|  Completed|
|   T038|     Sonia|   Mumbai|      Vijay|         SUV|       21.7|      690|                   54|        Card|  Completed|
|   T022|      Yash|  Chennai|      Kumar|         SUV|       21.3|      680|                   52|         UPI|  Completed|
|   T009|     Vikas|   Mumbai|      Vijay|         SUV|       20.5|      650|                   50|        Card|  Completed|
|   T042|     Mohit|Bangalore|     Suresh|         SUV|       19.9|      620|                   49|         UPI|  Completed|
|   T012|     Megha|Hyderabad|     Ramesh|         SUV|       19.2|      610|                   48|        Card|  Cancelled|
|   T004|     Pooja|   Mumbai|      Vikas|         SUV|       18.0|      560|                   45|         UPI|  Cancelled|
|   T033|      Aman|   Mumbai|      Vikas|       Sedan|       15.8|      395|                   35|        Card|  Completed|
+-------+----------+---------+-----------+------------+-----------+---------+---------------------+------------+-----------+
only showing top 10 rows

In [31]:
ocsv=spark.read.csv("trips_csv/",header=True)
ocsv.write.mode("overwrite").parquet("trips_parquet/")

In [32]:
js=spark.read.json("mumbai_trips_json/")
js.write.mode("overwrite").parquet("trips_parquet/")

In [34]:
c=spark.read.parquet("trips_parquet/")
c.write.mode("overwrite").option("header",True).option("delimiter",True).csv("trips_csv/")

In [38]:
b=df.groupBy("city").agg(f.sum("trip_fare").alias("total_fare"))
b.orderBy(f.desc("total_fare")).show()

+---------+----------+
|     city|total_fare|
+---------+----------+
|   Mumbai|      4160|
|Hyderabad|      3310|
|    Delhi|      2895|
|Bangalore|      2590|
|  Chennai|      2240|
+---------+----------+

In [41]:
b=df.groupBy("driver_name").agg(f.count("trip_fare").alias("total_fare"))
b.orderBy(f.desc("total_fare")).show()

+-----------+----------+
|driver_name|total_fare|
+-----------+----------+
|       Anil|        10|
|     Ramesh|         9|
|     Suresh|         9|
|      Kumar|         8|
|      Vikas|         5|
|      Vijay|         4|
+-----------+----------+

In [39]:
b=df.groupBy("vehicle_type").agg(f.mean("trip_fare").alias("total_fare"))
b.orderBy(f.desc("total_fare")).show()

+------------+------------------+
|vehicle_type|        total_fare|
+------------+------------------+
|         SUV| 667.7777777777778|
|       Sedan|             350.0|
|        Mini|238.46153846153845|
|        Bike|131.66666666666666|
+------------+------------------+

In [42]:
df4 = df.repartition(4)
df4.write.mode("overwrite").parquet("/path/to/output/parquet")

In [52]:


from pyspark.sql import functions as f

summary = (
    df.groupBy("city")
      .agg(
          f.count("trip_fare").alias("total_trips"),
          f.sum("trip_fare").alias("total_revenue"),
          f.avg("trip_duration_minutes").alias("average_trip_duration_minutes")
      )
)