<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/15th-Dec-2025/pyspark_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.appName("FoodDeliveryUseCase").getOrCreate()

data = [
    ("O001","Amit","Hyderabad","Spice Hub","Indian",450,35,"UPI","Delivered"),
    ("O002","Neha","Bangalore","Pizza Town","Italian",650,40,"Card","Delivered"),
    ("O003","Rahul","Delhi","Burger Zone","American",520,30,"Cash","Delivered"),
    ("O004","Pooja","Mumbai","Sushi Bar","Japanese",1200,55,"UPI","Cancelled"),
    ("O005","Arjun","Chennai","Curry Leaf","Indian",380,28,"UPI","Delivered"),
    ("O006","Sneha","Hyderabad","Pasta Street","Italian",700,45,"Card","Delivered"),
    ("O007","Karan","Delhi","Taco Bell","Mexican",540,33,"UPI","Delivered"),
    ("O008","Riya","Bangalore","Dragon Bowl","Chinese",600,38,"Wallet","Delivered"),
    ("O009","Vikas","Mumbai","BBQ Nation","Indian",1500,60,"Card","Delivered"),
    ("O010","Anjali","Chennai","Burger Zone","American",480,32,"Cash","Delivered"),
    ("O011","Farhan","Delhi","Biryani House","Indian",520,36,"UPI","Delivered"),
    ("O012","Megha","Hyderabad","Sushi Bar","Japanese",1100,58,"Card","Cancelled"),
    ("O013","Suresh","Bangalore","Curry Leaf","Indian",420,29,"UPI","Delivered"),
    ("O014","Divya","Mumbai","Pizza Town","Italian",780,42,"Wallet","Delivered"),
    ("O015","Nikhil","Delhi","Pasta Street","Italian",690,47,"UPI","Delivered"),
    ("O016","Kavya","Chennai","Dragon Bowl","Chinese",560,34,"UPI","Delivered"),
    ("O017","Rohit","Hyderabad","BBQ Nation","Indian",1400,62,"Card","Delivered"),
    ("O018","Simran","Bangalore","Burger Zone","American",510,31,"Cash","Delivered"),
    ("O019","Ayesha","Mumbai","Taco Bell","Mexican",570,35,"UPI","Delivered"),
    ("O020","Manish","Delhi","Curry Leaf","Indian",390,27,"Wallet","Delivered"),
    ("O021","Priya","Hyderabad","Pizza Town","Italian",720,41,"Card","Delivered"),
    ("O022","Yash","Chennai","Sushi Bar","Japanese",1150,57,"UPI","Delivered"),
       ("O023","Naina","Bangalore","Pasta Street","Italian",680,44,"UPI","Delivered"),
    ("O024","Sameer","Mumbai","Dragon Bowl","Chinese",610,39,"Wallet","Delivered"),
    ("O025","Ritika","Delhi","Burger Zone","American",500,30,"Cash","Delivered"),
    ("O026","Gopal","Hyderabad","Curry Leaf","Indian",410,28,"UPI","Delivered"),
    ("O027","Tina","Bangalore","Pizza Town","Italian",760,43,"Card","Delivered"),
    ("O028","Irfan","Mumbai","BBQ Nation","Indian",1550,65,"Card","Delivered"),
    ("O029","Sahil","Chennai","Taco Bell","Mexican",590,37,"UPI","Delivered"),
    ("O030","Lavanya","Delhi","Dragon Bowl","Chinese",630,40,"Wallet","Delivered"),
    ("O031","Deepak","Hyderabad","Burger Zone","American",520,33,"Cash","Delivered"),
    ("O032","Shweta","Bangalore","Curry Leaf","Indian",450,31,"UPI","Delivered"),
    ("O033","Aman","Mumbai","Pizza Town","Italian",810,46,"Card","Delivered"),
    ("O034","Rekha","Chennai","Pasta Street","Italian",700,45,"UPI","Delivered"),
    ("O035","Zubin","Delhi","BBQ Nation","Indian",1480,63,"Card","Delivered"),
    ("O036","Pallavi","Hyderabad","Dragon Bowl","Chinese",580,36,"Wallet","Delivered"),
    ("O037","Naveen","Bangalore","Taco Bell","Mexican",560,34,"UPI","Delivered"),
    ("O038","Sonia","Mumbai","Sushi Bar","Japanese",1180,59,"Card","Delivered"),
    ("O039","Harish","Chennai","Burger Zone","American",490,29,"Cash","Delivered"),
    ("O040","Kriti","Delhi","Curry Leaf","Indian",420,26,"UPI","Delivered")
]
columns = [
    "order_id","customer_name","city","restaurant","cuisine",
    "order_amount","delivery_time_minutes","payment_mode","order_status"
]
df = spark.createDataFrame(data, columns)

df.show(truncate=False)

+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|city     |restaurant   |cuisine |order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
|O001    |Amit         |Hyderabad|Spice Hub    |Indian  |450         |35                   |UPI         |Delivered   |
|O002    |Neha         |Bangalore|Pizza Town   |Italian |650         |40                   |Card        |Delivered   |
|O003    |Rahul        |Delhi    |Burger Zone  |American|520         |30                   |Cash        |Delivered   |
|O004    |Pooja        |Mumbai   |Sushi Bar    |Japanese|1200        |55                   |UPI         |Cancelled   |
|O005    |Arjun        |Chennai  |Curry Leaf   |Indian  |380         |28                   |UPI         |Delivered   |
|O006    |Sneha        |Hyderabad|Pasta Street |Italian |700         |45                   |Card        |Delivered   |
|O007    |Karan        |Delhi    |Taco Bell    |Mexican |540         |33                   |UPI         |Delivered   |
|O008    |Riya         |Bangalore|Dragon Bowl  |Chinese |600         |38                   |Wallet      |Delivered   |
|O009    |Vikas        |Mumbai   |BBQ Nation   |Indian  |1500        |60                   |Card        |Delivered   |
|O010    |Anjali       |Chennai  |Burger Zone  |American|480         |32                   |Cash        |Delivered   |
|O011    |Farhan       |Delhi    |Biryani House|Indian  |520         |36                   |UPI         |Delivered   |
|O012    |Megha        |Hyderabad|Sushi Bar    |Japanese|1100        |58                   |Card        |Cancelled   |
|O013    |Suresh       |Bangalore|Curry Leaf   |Indian  |420         |29                   |UPI         |Delivered   |
|O014    |Divya        |Mumbai   |Pizza Town   |Italian |780         |42                   |Wallet      |Delivered   |
|O015    |Nikhil       |Delhi    |Pasta Street |Italian |690         |47                   |UPI         |Delivered   |
|O016    |Kavya        |Chennai  |Dragon Bowl  |Chinese |560         |34                   |UPI         |Delivered   |
|O017    |Rohit        |Hyderabad|BBQ Nation   |Indian  |1400        |62                   |Card        |Delivered   |
|O018    |Simran       |Bangalore|Burger Zone  |American|510         |31                   |Cash        |Delivered   |
|O019    |Ayesha       |Mumbai   |Taco Bell    |Mexican |570         |35                   |UPI         |Delivered   |
|O020    |Manish       |Delhi    |Curry Leaf   |Indian  |390         |27                   |Wallet      |Delivered   |
+--------+-------------+---------+-------------+--------+------------+---------------------+------------+------------+
only showing top 20 rows

In [ ]:

(df.write
   .mode("overwrite")
   .option("header", True)
   .csv("orders_csv/"))

In [ ]:

orders_csv = (spark.read
                  .option("header", True)
                  .option("inferSchema", True)
                  .csv("orders_csv/"))

filtered_csv = orders_csv.filter(F.col("order_amount") > 700)
filtered_csv.show(truncate=False)

+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|order_id|customer_name|city     |restaurant|cuisine |order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+
|O021    |Priya        |Hyderabad|Pizza Town|Italian |720         |41                   |Card        |Delivered   |
|O022    |Yash         |Chennai  |Sushi Bar |Japanese|1150        |57                   |UPI         |Delivered   |
|O027    |Tina         |Bangalore|Pizza Town|Italian |760         |43                   |Card        |Delivered   |
|O028    |Irfan        |Mumbai   |BBQ Nation|Indian  |1550        |65                   |Card        |Delivered   |
|O033    |Aman         |Mumbai   |Pizza Town|Italian |810         |46                   |Card        |Delivered   |
|O035    |Zubin        |Delhi    |BBQ Nation|Indian  |1480        |63                   |Card        |Delivered   |
|O038    |Sonia        |Mumbai   |Sushi Bar |Japanese|1180        |59                   |Card        |Delivered   |
|O004    |Pooja        |Mumbai   |Sushi Bar |Japanese|1200        |55                   |UPI         |Cancelled   |
|O009    |Vikas        |Mumbai   |BBQ Nation|Indian  |1500        |60                   |Card        |Delivered   |
|O012    |Megha        |Hyderabad|Sushi Bar |Japanese|1100        |58                   |Card        |Cancelled   |
|O014    |Divya        |Mumbai   |Pizza Town|Italian |780         |42                   |Wallet      |Delivered   |
|O017    |Rohit        |Hyderabad|BBQ Nation|Indian  |1400        |62                   |Card        |Delivered   |
+--------+-------------+---------+----------+--------+------------+---------------------+------------+------------+

In [ ]:

sorted_csv = orders_csv.orderBy(F.col("delivery_time_minutes").desc())
(sorted_csv.write
    .mode("overwrite")
    .option("header", True)
    .csv("orders_csv_sorted/"))

In [ ]:

delivered = df.filter(F.col("order_status") == "Delivered")
(delivered.write
    .mode("overwrite")
    .json("delivered_orders_json/"))

In [ ]:

delivered_json = spark.read.json("delivered_orders_json/")
mumbai_card = delivered_json.filter(
    (F.col("city") == "Mumbai") & (F.col("payment_mode") == "Card")
)
mumbai_card.show(truncate=False)

+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|city  |cuisine |customer_name|delivery_time_minutes|order_amount|order_id|order_status|payment_mode|restaurant|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+
|Mumbai|Indian  |Irfan        |65                   |1550        |O028    |Delivered   |Card        |BBQ Nation|
|Mumbai|Italian |Aman         |46                   |810         |O033    |Delivered   |Card        |Pizza Town|
|Mumbai|Japanese|Sonia        |59                   |1180        |O038    |Delivered   |Card        |Sushi Bar |
|Mumbai|Indian  |Vikas        |60                   |1500        |O009    |Delivered   |Card        |BBQ Nation|
+------+--------+-------------+---------------------+------------+--------+------------+------------+----------+

In [ ]:

with_category = delivered_json.withColumn(
    "delivery_category",
    F.when(F.col("delivery_time_minutes") > 45, F.lit("Late")).otherwise(F.lit("OnTime"))
)

(with_category.write
    .mode("overwrite")
    .json("delivered_orders_with_category_json/"))

In [ ]:

(with_category.coalesce(1)
    .write.mode("overwrite")
    .json("delivered_orders_with_category_singlepart_json/"))

In [ ]:

(df.write
   .mode("overwrite")
   .parquet("orders_parquet/"))

In [ ]:

orders_parquet = spark.read.parquet("orders_parquet/")
indian_gt500 = orders_parquet.filter(
    (F.col("cuisine") == "Indian") & (F.col("order_amount") > 500)
)
indian_gt500.show(truncate=False)

# Optional: write the filtered subset
(indian_gt500.write
    .mode("overwrite")
    .parquet("orders_parquet/indian_gt500/"))

+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|order_id|customer_name|city     |restaurant   |cuisine|order_amount|delivery_time_minutes|payment_mode|order_status|
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+
|O009    |Vikas        |Mumbai   |BBQ Nation   |Indian |1500        |60                   |Card        |Delivered   |
|O011    |Farhan       |Delhi    |Biryani House|Indian |520         |36                   |UPI         |Delivered   |
|O017    |Rohit        |Hyderabad|BBQ Nation   |Indian |1400        |62                   |Card        |Delivered   |
|O028    |Irfan        |Mumbai   |BBQ Nation   |Indian |1550        |65                   |Card        |Delivered   |
|O035    |Zubin        |Delhi    |BBQ Nation   |Indian |1480        |63                   |Card        |Delivered   |
+--------+-------------+---------+-------------+-------+------------+---------------------+------------+------------+

In [ ]:

top10 = orders_parquet.orderBy(F.col("order_amount").desc()).limit(10)

# Write to a single file for convenience
(top10.coalesce(1)
      .write.mode("overwrite")
      .parquet("orders_parquet/top10/"))

In [ ]:

# CSV → Parquet
orders_csv = (spark.read
                  .option("header", True)
                  .option("inferSchema", True)
                  .csv("orders_csv/"))

(orders_csv.write
    .mode("overwrite")
    .parquet("orders_parquet_from_csv/"))

# JSON → Parquet (use delivered JSON from earlier or another JSON source)
delivered_json = spark.read.json("delivered_orders_json/")

(delivered_json.write.mode("overwrite").parquet("delivered_orders_parquet/"))

In [ ]:

orders_parquet = spark.read.parquet("orders_parquet/")

(orders_parquet.write
    .mode("overwrite")
    .option("header", True)
    .option("delimiter", "|")
    .csv("orders_csv_pipe_delimited/"))

In [ ]:

by_cuisine_revenue = (df.groupBy("cuisine")
                        .agg(F.sum("order_amount").alias("total_order_amount"))
                        .orderBy(F.col("total_order_amount").desc()))
by_cuisine_revenue.show(truncate=False)

# Top cuisine:
top_cuisine = by_cuisine_revenue.first()
print("Top cuisine:", top_cuisine["cuisine"], "with", top_cuisine["total_order_amount"])

+--------+------------------+
|cuisine |total_order_amount|
+--------+------------------+
|Indian  |9370              |
|Italian |6490              |
|Japanese|4630              |
|American|3020              |
|Chinese |2980              |
|Mexican |2260              |
+--------+------------------+

Top cuisine: Indian with 9370

In [ ]:

by_city_count = (df.groupBy("city")
                   .agg(F.count("*").alias("total_orders"))
                   .orderBy(F.col("total_orders").desc()))
by_city_count.show(truncate=False)

top_city = by_city_count.first()
print("Top city:", top_city["city"], "with", top_city["total_orders"], "orders")

+---------+------------+
|city     |total_orders|
+---------+------------+
|Delhi    |9           |
|Bangalore|8           |
|Mumbai   |8           |
|Hyderabad|8           |
|Chennai  |7           |
+---------+------------+

Top city: Delhi with 9 orders

In [ ]:

by_payment = (df.groupBy("payment_mode")
                .agg(F.count("*").alias("usage_count"))
                .orderBy(F.col("usage_count").desc()))
by_payment.show(truncate=False)

top_payment = by_payment.first()
print("Most used payment mode:", top_payment["payment_mode"], "with", top_payment["usage_count"])

+------------+-----------+
|payment_mode|usage_count|
+------------+-----------+
|UPI         |17         |
|Card        |11         |
|Cash        |6          |
|Wallet      |6          |
+------------+-----------+

Most used payment mode: UPI with 17

In [ ]:

(df.repartition(4)
   .write.mode("overwrite")
   .parquet("orders_parquet_4parts/"))

In [ ]:

report = (df.groupBy("city")
            .agg(
                F.count("*").alias("total_orders"),
                F.sum("order_amount").alias("total_revenue")
            )
            .orderBy(F.col("total_revenue").desc()))

report.show(truncate=False)

(report.write
    .mode("overwrite")
    .parquet("city_report_parquet/"))

+---------+------------+-------------+
|city     |total_orders|total_revenue|
+---------+------------+-------------+
|Mumbai   |8           |8200         |
|Hyderabad|8           |5880         |
|Delhi    |9           |5690         |
|Bangalore|8           |4630         |
|Chennai  |7           |4350         |
+---------+------------+-------------+