<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/17th-Dec-2025/Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("food_platform").getOrCreate()

In [ ]:
orders_data = [
("O001","North","Delhi","Rest-01","Pizza","2024-02-01",450,35),
("O002","North","Delhi","Rest-01","Burger","2024-02-01",250,25),
("O003","North","Chandigarh","Rest-02","Pasta","2024-02-02",350,30),
("O004","South","Bangalore","Rest-03","Pizza","2024-02-01",500,40),
("O005","South","Chennai","Rest-04","Burger","2024-02-02",220,20),
("O006","South","Bangalore","Rest-03","Pasta","2024-02-03",380,32),
("O007","East","Kolkata","Rest-05","Pizza","2024-02-01",420,38),
("O008","East","Kolkata","Rest-05","Burger","2024-02-02",260,26),
("O009","East","Patna","Rest-06","Pasta","2024-02-03",300,28),
("O010","West","Mumbai","Rest-07","Pizza","2024-02-01",520,42),
("O011","West","Mumbai","Rest-07","Burger","2024-02-02",280,27),
("O012","West","Pune","Rest-08","Pasta","2024-02-03",340,31),
("O013","North","Delhi","Rest-01","Pizza","2024-02-04",480,37),
("O014","South","Chennai","Rest-04","Pizza","2024-02-04",510,41),
("O015","East","Patna","Rest-06","Burger","2024-02-04",240,24),
("O016","West","Pune","Rest-08","Pizza","2024-02-04",500,39),
("O017","North","Chandigarh","Rest-02","Burger","2024-02-05",260,26),
("O018","South","Bangalore","Rest-03","Burger","2024-02-05",290,29),
("O019","East","Kolkata","Rest-05","Pasta","2024-02-05",360,33),
("O020","West","Mumbai","Rest-07","Pasta","2024-02-05",390,34),
("O021","North","Delhi","Rest-01","Pasta","2024-02-06",370,30),
("O022","South","Chennai","Rest-04","Pasta","2024-02-06",330,29),
("O023","East","Patna","Rest-06","Pizza","2024-02-06",460,36),
("O024","West","Pune","Rest-08","Burger","2024-02-06",270,26)
]
columns = [
"order_id","region","city","restaurant_id",
"food_item","order_date","amount","delivery_time_min"
]
df_orders = spark.createDataFrame(orders_data, columns)
df_orders.show(5)
df_orders.printSchema()

+--------+------+----------+-------------+---------+----------+------+-----------------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|
+--------+------+----------+-------------+---------+----------+------+-----------------+
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|
+--------+------+----------+-------------+---------+----------+------+-----------------+
only showing top 5 rows
root
 |-- order_id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- restaurant_id: string (nullable = true)
 |-- food_item: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- amount: long (nullable = true)
 |-- delivery_time_min: long (nullable = true)

In [ ]:
df_orders.select("order_id" , "region" , "food_item" , "amount").show()

+--------+------+---------+------+
|order_id|region|food_item|amount|
+--------+------+---------+------+
|    O001| North|    Pizza|   450|
|    O002| North|   Burger|   250|
|    O003| North|    Pasta|   350|
|    O004| South|    Pizza|   500|
|    O005| South|   Burger|   220|
|    O006| South|    Pasta|   380|
|    O007|  East|    Pizza|   420|
|    O008|  East|   Burger|   260|
|    O009|  East|    Pasta|   300|
|    O010|  West|    Pizza|   520|
|    O011|  West|   Burger|   280|
|    O012|  West|    Pasta|   340|
|    O013| North|    Pizza|   480|
|    O014| South|    Pizza|   510|
|    O015|  East|   Burger|   240|
|    O016|  West|    Pizza|   500|
|    O017| North|   Burger|   260|
|    O018| South|   Burger|   290|
|    O019|  East|    Pasta|   360|
|    O020|  West|    Pasta|   390|
+--------+------+---------+------+
only showing top 20 rows

In [ ]:
df_orders.withColumnRenamed("amount","order_value").show(5)

+--------+------+----------+-------------+---------+----------+-----------+-----------------+
|order_id|region|      city|restaurant_id|food_item|order_date|order_value|delivery_time_min|
+--------+------+----------+-------------+---------+----------+-----------+-----------------+
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|        450|               35|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|        250|               25|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|        350|               30|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|        500|               40|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|        220|               20|
+--------+------+----------+-------------+---------+----------+-----------+-----------------+
only showing top 5 rows

In [ ]:
from pyspark.sql.functions import col
df_orders.withColumn("amount_in_hundreds",col("amount")/100).show()

+--------+------+----------+-------------+---------+----------+------+-----------------+------------------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|amount_in_hundreds|
+--------+------+----------+-------------+---------+----------+------+-----------------+------------------+
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|               4.5|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|               2.5|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|               3.5|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|               5.0|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|               2.2|
|    O006| South| Bangalore|      Rest-03|    Pasta|2024-02-03|   380|               32|               3.8|
|    O007|  East|   Kolkata|      Rest-05|    Pizza|2024-02-01|   420|               38|               4.2|
|    O008|  East|   Kolkata|      Rest-05|   Burger|2024-02-02|   260|               26|               2.6|
|    O009|  East|     Patna|      Rest-06|    Pasta|2024-02-03|   300|               28|               3.0|
|    O010|  West|    Mumbai|      Rest-07|    Pizza|2024-02-01|   520|               42|               5.2|
|    O011|  West|    Mumbai|      Rest-07|   Burger|2024-02-02|   280|               27|               2.8|
|    O012|  West|      Pune|      Rest-08|    Pasta|2024-02-03|   340|               31|               3.4|
|    O013| North|     Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|               4.8|
|    O014| South|   Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|               5.1|
|    O015|  East|     Patna|      Rest-06|   Burger|2024-02-04|   240|               24|               2.4|
|    O016|  West|      Pune|      Rest-08|    Pizza|2024-02-04|   500|               39|               5.0|
|    O017| North|Chandigarh|      Rest-02|   Burger|2024-02-05|   260|               26|               2.6|
|    O018| South| Bangalore|      Rest-03|   Burger|2024-02-05|   290|               29|               2.9|
|    O019|  East|   Kolkata|      Rest-05|    Pasta|2024-02-05|   360|               33|               3.6|
|    O020|  West|    Mumbai|      Rest-07|    Pasta|2024-02-05|   390|               34|               3.9|
+--------+------+----------+-------------+---------+----------+------+-----------------+------------------+
only showing top 20 rows

In [ ]:
df_orders.select("region","food_item",).distinct().show()

+------+---------+
|region|food_item|
+------+---------+
|  West|   Burger|
|  East|    Pizza|
|  West|    Pizza|
| North|    Pizza|
| South|    Pizza|
|  East|   Burger|
| North|    Pasta|
|  East|    Pasta|
| North|   Burger|
| South|    Pasta|
| South|   Burger|
|  West|    Pasta|
+------+---------+

In [ ]:
from pyspark.sql.functions import col
df_orders.withColumn("order_day",col("order_date").substr(9,10)).show()

+--------+------+----------+-------------+---------+----------+------+-----------------+---------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|order_day|
+--------+------+----------+-------------+---------+----------+------+-----------------+---------+
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|       01|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|       01|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|       02|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|       01|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|       02|
|    O006| South| Bangalore|      Rest-03|    Pasta|2024-02-03|   380|               32|       03|
|    O007|  East|   Kolkata|      Rest-05|    Pizza|2024-02-01|   420|               38|       01|
|    O008|  East|   Kolkata|      Rest-05|   Burger|2024-02-02|   260|               26|       02|
|    O009|  East|     Patna|      Rest-06|    Pasta|2024-02-03|   300|               28|       03|
|    O010|  West|    Mumbai|      Rest-07|    Pizza|2024-02-01|   520|               42|       01|
|    O011|  West|    Mumbai|      Rest-07|   Burger|2024-02-02|   280|               27|       02|
|    O012|  West|      Pune|      Rest-08|    Pasta|2024-02-03|   340|               31|       03|
|    O013| North|     Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|       04|
|    O014| South|   Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|       04|
|    O015|  East|     Patna|      Rest-06|   Burger|2024-02-04|   240|               24|       04|
|    O016|  West|      Pune|      Rest-08|    Pizza|2024-02-04|   500|               39|       04|
|    O017| North|Chandigarh|      Rest-02|   Burger|2024-02-05|   260|               26|       05|
|    O018| South| Bangalore|      Rest-03|   Burger|2024-02-05|   290|               29|       05|
|    O019|  East|   Kolkata|      Rest-05|    Pasta|2024-02-05|   360|               33|       05|
|    O020|  West|    Mumbai|      Rest-07|    Pasta|2024-02-05|   390|               34|       05|
+--------+------+----------+-------------+---------+----------+------+-----------------+---------+
only showing top 20 rows

In [ ]:
new_order = ['order_id', 'region', 'city','food_item', 'restaurant_id','amount','delivery_time_min']
df_orders.select(new_order).show()

+--------+------+----------+---------+-------------+------+-----------------+
|order_id|region|      city|food_item|restaurant_id|amount|delivery_time_min|
+--------+------+----------+---------+-------------+------+-----------------+
|    O001| North|     Delhi|    Pizza|      Rest-01|   450|               35|
|    O002| North|     Delhi|   Burger|      Rest-01|   250|               25|
|    O003| North|Chandigarh|    Pasta|      Rest-02|   350|               30|
|    O004| South| Bangalore|    Pizza|      Rest-03|   500|               40|
|    O005| South|   Chennai|   Burger|      Rest-04|   220|               20|
|    O006| South| Bangalore|    Pasta|      Rest-03|   380|               32|
|    O007|  East|   Kolkata|    Pizza|      Rest-05|   420|               38|
|    O008|  East|   Kolkata|   Burger|      Rest-05|   260|               26|
|    O009|  East|     Patna|    Pasta|      Rest-06|   300|               28|
|    O010|  West|    Mumbai|    Pizza|      Rest-07|   520|               42|
|    O011|  West|    Mumbai|   Burger|      Rest-07|   280|               27|
|    O012|  West|      Pune|    Pasta|      Rest-08|   340|               31|
|    O013| North|     Delhi|    Pizza|      Rest-01|   480|               37|
|    O014| South|   Chennai|    Pizza|      Rest-04|   510|               41|
|    O015|  East|     Patna|   Burger|      Rest-06|   240|               24|
|    O016|  West|      Pune|    Pizza|      Rest-08|   500|               39|
|    O017| North|Chandigarh|   Burger|      Rest-02|   260|               26|
|    O018| South| Bangalore|   Burger|      Rest-03|   290|               29|
|    O019|  East|   Kolkata|    Pasta|      Rest-05|   360|               33|
|    O020|  West|    Mumbai|    Pasta|      Rest-07|   390|               34|
+--------+------+----------+---------+-------------+------+-----------------+
only showing top 20 rows

In [ ]:
df_orders.filter(col("amount")>400).show()

In [ ]:
df_orders.filter(col("food_item")=="Pizza").show()

In [ ]:
df_orders.filter((col("city")=="Delhi") | (col("city")=="Mumbai")).show()

In [ ]:
df_orders.filter((col("delivery_time_min"))>35).show()

In [ ]:

df_orders.filter(
    (col("region") == "North") &
    ((col("city") == "Delhi") | (col("city") == "Mumbai"))
).show()

+--------+------+-----+-------------+---------+----------+------+-----------------+
|order_id|region| city|restaurant_id|food_item|order_date|amount|delivery_time_min|
+--------+------+-----+-------------+---------+----------+------+-----------------+
|    O001| North|Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|
|    O002| North|Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|
|    O013| North|Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|
|    O021| North|Delhi|      Rest-01|    Pasta|2024-02-06|   370|               30|
+--------+------+-----+-------------+---------+----------+------+-----------------+

In [ ]:
df_a=df_orders.filter(col("region") == "North").filter(col("food_item")=="Pizza")
df_b=df_orders.filter(col("food_item") == "Pizza").filter(col("region")=="North")
df_a.explain(True)
df_b.explain(True)

== Parsed Logical Plan ==
'Filter '`=`('food_item, Pizza)
+- Filter (region#1 = North)
   +- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Analyzed Logical Plan ==
order_id: string, region: string, city: string, restaurant_id: string, food_item: string, order_date: string, amount: bigint, delivery_time_min: bigint
Filter (food_item#4 = Pizza)
+- Filter (region#1 = North)
   +- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Optimized Logical Plan ==
Filter ((isnotnull(region#1) AND isnotnull(food_item#4)) AND ((region#1 = North) AND (food_item#4 = Pizza)))
+- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Physical Plan ==
*(1) Filter ((isnotnull(region#1) AND isnotnull(food_item#4)) AND ((region#1 = North) AND (food_item#4 = Pizza)))
+- *(1) Scan ExistingRDD[order_id#0,region#1,city#2,restaurant_id#3,food_item#4,order_date#5,amount#6L,delivery_time_min#7L]

== Parsed Logical Plan ==
'Filter '`=`('region, North)
+- Filter (food_item#4 = Pizza)
   +- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Analyzed Logical Plan ==
order_id: string, region: string, city: string, restaurant_id: string, food_item: string, order_date: string, amount: bigint, delivery_time_min: bigint
Filter (region#1 = North)
+- Filter (food_item#4 = Pizza)
   +- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Optimized Logical Plan ==
Filter ((isnotnull(food_item#4) AND isnotnull(region#1)) AND ((food_item#4 = Pizza) AND (region#1 = North)))
+- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Physical Plan ==
*(1) Filter ((isnotnull(food_item#4) AND isnotnull(region#1)) AND ((food_item#4 = Pizza) AND (region#1 = North)))
+- *(1) Scan ExistingRDD[order_id#0,region#1,city#2,restaurant_id#3,food_item#4,order_date#5,amount#6L,delivery_time_min#7L]

**Predicate pushdown** means letting the data source apply filters during read, reducing data transferred to Spark.

In [ ]:
df_c=df_orders.select("order_id","region", "city","restaurant_id","food_item","amount")
df_filter=df_c.filter(col("region")=="North")
df_final=df_filter.withColumn("amount_in_tens",col("amount")/10)
df_final.explain(True)
df_final.count()
df_final.show()

== Parsed Logical Plan ==
'Project [unresolvedstarwithcolumns(amount_in_tens, '`/`('amount, 10), None)]
+- Filter (region#1 = North)
   +- Project [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, amount#6L]
      +- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Analyzed Logical Plan ==
order_id: string, region: string, city: string, restaurant_id: string, food_item: string, amount: bigint, amount_in_tens: double
Project [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, amount#6L, (cast(amount#6L as double) / cast(10 as double)) AS amount_in_tens#256]
+- Filter (region#1 = North)
   +- Project [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, amount#6L]
      +- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Optimized Logical Plan ==
Project [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, amount#6L, (cast(amount#6L as double) / 10.0) AS amount_in_tens#256]
+- Filter (isnotnull(region#1) AND (region#1 = North))
   +- LogicalRDD [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, order_date#5, amount#6L, delivery_time_min#7L], false

== Physical Plan ==
*(1) Project [order_id#0, region#1, city#2, restaurant_id#3, food_item#4, amount#6L, (cast(amount#6L as double) / 10.0) AS amount_in_tens#256]
+- *(1) Filter (isnotnull(region#1) AND (region#1 = North))
   +- *(1) Scan ExistingRDD[order_id#0,region#1,city#2,restaurant_id#3,food_item#4,order_date#5,amount#6L,delivery_time_min#7L]

+--------+------+----------+-------------+---------+------+--------------+
|order_id|region|      city|restaurant_id|food_item|amount|amount_in_tens|
+--------+------+----------+-------------+---------+------+--------------+
|    O001| North|     Delhi|      Rest-01|    Pizza|   450|          45.0|
|    O002| North|     Delhi|      Rest-01|   Burger|   250|          25.0|
|    O003| North|Chandigarh|      Rest-02|    Pasta|   350|          35.0|
|    O013| North|     Delhi|      Rest-01|    Pizza|   480|          48.0|
|    O017| North|Chandigarh|      Rest-02|   Burger|   260|          26.0|
|    O021| North|     Delhi|      Rest-01|    Pasta|   370|          37.0|
+--------+------+----------+-------------+---------+------+--------------+

In [ ]:
df_orders.rdd.getNumPartitions()

2

In [ ]:
repart_df=df_orders.repartition(4)
repart_df.rdd.getNumPartitions()

In [ ]:
coalsec_df=df_orders.coalesce(1)
coalsec_df.rdd.getNumPartitions()

1

In [ ]:
repart_df=df_orders.repartition(4)
repart_df.write.mode("overwrite").parquet("path/")
df = spark.read.parquet("path/")

In [ ]:
colasec_df=df_orders.coalesce(1)
colasec_df.write.mode("overwrite").parquet("path/")
df = spark.read.parquet("path/")

In [ ]:
from pyspark.sql import functions as f
df_s=df_orders.groupBy("region").agg(f.sum("amount")).alias("total_amount")
df_s.show()

+------+-----------+
|region|sum(amount)|
+------+-----------+
| South|       2230|
|  East|       2040|
|  West|       2300|
| North|       2160|
+------+-----------+

In [ ]:
df_s=df_orders.groupBy("food_item").agg(f.mean("amount")).alias("total_amount")
df_s.show()

+---------+-----------+
|food_item|avg(amount)|
+---------+-----------+
|   Burger|     258.75|
|    Pizza|      480.0|
|    Pasta|      352.5|
+---------+-----------+

In [ ]:
df_s=df_orders.groupBy("city").agg(f.max("amount")).alias("total_amount")
df_s.show()

+----------+-----------+
|      city|max(amount)|
+----------+-----------+
| Bangalore|        500|
|     Patna|        460|
|   Chennai|        510|
|    Mumbai|        520|
|   Kolkata|        420|
|      Pune|        500|
|     Delhi|        480|
|Chandigarh|        350|
+----------+-----------+

In [ ]:
df_s=df_orders.groupBy("restaurant_id").agg(f.min("delivery_time_min")).alias("total_amount")
df_s.show()

+-------------+----------------------+
|restaurant_id|min(delivery_time_min)|
+-------------+----------------------+
|      Rest-01|                    25|
|      Rest-06|                    24|
|      Rest-04|                    20|
|      Rest-03|                    29|
|      Rest-02|                    26|
|      Rest-08|                    26|
|      Rest-07|                    27|
|      Rest-05|                    26|
+-------------+----------------------+

In [ ]:
df_s=df_orders.groupBy("region").agg(f.count("order_id")).alias("total_amount")
df_s.show()

+------+---------------+
|region|count(order_id)|
+------+---------------+
| South|              6|
|  East|              6|
|  West|              6|
| North|              6|
+------+---------------+

In [ ]:
df_s=df_orders.groupBy("restaurant_id").agg(f.sum("amount")).alias("total_amount")
df_s.show()

+-------------+-----------+
|restaurant_id|sum(amount)|
+-------------+-----------+
|      Rest-01|       1550|
|      Rest-06|       1000|
|      Rest-04|       1060|
|      Rest-03|       1170|
|      Rest-02|        610|
|      Rest-08|       1110|
|      Rest-07|       1190|
|      Rest-05|       1040|
+-------------+-----------+

In [ ]:
df_q=df_orders.groupBy("region","food_item").agg(f.sum("amount")).alias("total_amount")
df_q.show()

+------+---------+-----------+
|region|food_item|sum(amount)|
+------+---------+-----------+
|  West|   Burger|        550|
|  East|    Pizza|        880|
|  West|    Pizza|       1020|
| North|    Pizza|        930|
| South|    Pizza|       1010|
|  East|   Burger|        500|
| North|    Pasta|        720|
|  East|    Pasta|        660|
| North|   Burger|        510|
| South|    Pasta|        710|
| South|   Burger|        510|
|  West|    Pasta|        730|
+------+---------+-----------+

In [ ]:
df_s=df_orders.groupBy("city").agg(f.mean("delivery_time_min")).alias("total_amount")
df_s.show()

+----------+----------------------+
|      city|avg(delivery_time_min)|
+----------+----------------------+
| Bangalore|    33.666666666666664|
|     Patna|    29.333333333333332|
|   Chennai|                  30.0|
|    Mumbai|    34.333333333333336|
|   Kolkata|    32.333333333333336|
|      Pune|                  32.0|
|     Delhi|                 31.75|
|Chandigarh|                  28.0|
+----------+----------------------+

In [ ]:

from pyspark.sql import functions as f
threshold=200
df_c=df_orders.groupBy("region").agg(f.sum("amount").alias("total_amount"))
df_d=df_c.filter(f.col("total_amount")>threshold)
df_d.show()

+------+------------+
|region|total_amount|
+------+------------+
| South|        2230|
|  East|        2040|
|  West|        2300|
| North|        2160|
+------+------------+

In [ ]:
df_d.explain(True)

== Parsed Logical Plan ==
'Filter '`>`('total_amount, 200)
+- Aggregate [region#235], [region#235, sum(amount#240L) AS total_amount#447L]
   +- LogicalRDD [order_id#234, region#235, city#236, restaurant_id#237, food_item#238, order_date#239, amount#240L, delivery_time_min#241L], false

== Analyzed Logical Plan ==
region: string, total_amount: bigint
Filter (total_amount#447L > cast(200 as bigint))
+- Aggregate [region#235], [region#235, sum(amount#240L) AS total_amount#447L]
   +- LogicalRDD [order_id#234, region#235, city#236, restaurant_id#237, food_item#238, order_date#239, amount#240L, delivery_time_min#241L], false

== Optimized Logical Plan ==
Filter (isnotnull(total_amount#447L) AND (total_amount#447L > 200))
+- Aggregate [region#235], [region#235, sum(amount#240L) AS total_amount#447L]
   +- Project [region#235, amount#240L]
      +- LogicalRDD [order_id#234, region#235, city#236, restaurant_id#237, food_item#238, order_date#239, amount#240L, delivery_time_min#241L], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=true
+- == Final Plan ==
   ResultQueryStage 1
   +- *(2) Filter (isnotnull(total_amount#447L) AND (total_amount#447L > 200))
      +- *(2) HashAggregate(keys=[region#235], functions=[sum(amount#240L)], output=[region#235, total_amount#447L])
         +- AQEShuffleRead coalesced
            +- ShuffleQueryStage 0
               +- Exchange hashpartitioning(region#235, 200), ENSURE_REQUIREMENTS, [plan_id=850]
                  +- *(1) HashAggregate(keys=[region#235], functions=[partial_sum(amount#240L)], output=[region#235, sum#460L])
                     +- *(1) Project [region#235, amount#240L]
                        +- *(1) Scan ExistingRDD[order_id#234,region#235,city#236,restaurant_id#237,food_item#238,order_date#239,amount#240L,delivery_time_min#241L]
+- == Initial Plan ==
   Filter (isnotnull(total_amount#447L) AND (total_amount#447L > 200))
   +- HashAggregate(keys=[region#235], functions=[sum(amount#240L)], output=[region#235, total_amount#447L])
      +- Exchange hashpartitioning(region#235, 200), ENSURE_REQUIREMENTS, [plan_id=838]
         +- HashAggregate(keys=[region#235], functions=[partial_sum(amount#240L)], output=[region#235, sum#460L])
            +- Project [region#235, amount#240L]
               +- Scan ExistingRDD[order_id#234,region#235,city#236,restaurant_id#237,food_item#238,order_date#239,amount#240L,delivery_time_min#241L]

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank,col

w = Window.partitionBy("region").orderBy(col("order_date"))

df_out = df_orders.withColumn("running_total", f.sum(col("amount")).over(w))
df_out.show()

+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|running_total|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
|    O007|  East|   Kolkata|      Rest-05|    Pizza|2024-02-01|   420|               38|          420|
|    O008|  East|   Kolkata|      Rest-05|   Burger|2024-02-02|   260|               26|          680|
|    O009|  East|     Patna|      Rest-06|    Pasta|2024-02-03|   300|               28|          980|
|    O015|  East|     Patna|      Rest-06|   Burger|2024-02-04|   240|               24|         1220|
|    O019|  East|   Kolkata|      Rest-05|    Pasta|2024-02-05|   360|               33|         1580|
|    O023|  East|     Patna|      Rest-06|    Pizza|2024-02-06|   460|               36|         2040|
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|          700|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|          700|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|         1050|
|    O013| North|     Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|         1530|
|    O017| North|Chandigarh|      Rest-02|   Burger|2024-02-05|   260|               26|         1790|
|    O021| North|     Delhi|      Rest-01|    Pasta|2024-02-06|   370|               30|         2160|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|          500|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|          720|
|    O006| South| Bangalore|      Rest-03|    Pasta|2024-02-03|   380|               32|         1100|
|    O014| South|   Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|         1610|
|    O018| South| Bangalore|      Rest-03|   Burger|2024-02-05|   290|               29|         1900|
|    O022| South|   Chennai|      Rest-04|    Pasta|2024-02-06|   330|               29|         2230|
|    O010|  West|    Mumbai|      Rest-07|    Pizza|2024-02-01|   520|               42|          520|
|    O011|  West|    Mumbai|      Rest-07|   Burger|2024-02-02|   280|               27|          800|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank

w = Window.partitionBy("region").orderBy(col("amount").desc())

df_out = df_orders.withColumn("running_total", f.rank().over(w))
df_out.show()

+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|running_total|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
|    O023|  East|     Patna|      Rest-06|    Pizza|2024-02-06|   460|               36|            1|
|    O007|  East|   Kolkata|      Rest-05|    Pizza|2024-02-01|   420|               38|            2|
|    O019|  East|   Kolkata|      Rest-05|    Pasta|2024-02-05|   360|               33|            3|
|    O009|  East|     Patna|      Rest-06|    Pasta|2024-02-03|   300|               28|            4|
|    O008|  East|   Kolkata|      Rest-05|   Burger|2024-02-02|   260|               26|            5|
|    O015|  East|     Patna|      Rest-06|   Burger|2024-02-04|   240|               24|            6|
|    O013| North|     Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|            1|
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|            2|
|    O021| North|     Delhi|      Rest-01|    Pasta|2024-02-06|   370|               30|            3|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|            4|
|    O017| North|Chandigarh|      Rest-02|   Burger|2024-02-05|   260|               26|            5|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|            6|
|    O014| South|   Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|            1|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|            2|
|    O006| South| Bangalore|      Rest-03|    Pasta|2024-02-03|   380|               32|            3|
|    O022| South|   Chennai|      Rest-04|    Pasta|2024-02-06|   330|               29|            4|
|    O018| South| Bangalore|      Rest-03|   Burger|2024-02-05|   290|               29|            5|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|            6|
|    O010|  West|    Mumbai|      Rest-07|    Pizza|2024-02-01|   520|               42|            1|
|    O016|  West|      Pune|      Rest-08|    Pizza|2024-02-04|   500|               39|            2|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank

w = Window.partitionBy("restaurant_id").orderBy(col("delivery_time_min").desc())

df_out = df_orders.withColumn("running_total", f.row_number().over(w))
df_out.show()

+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|running_total|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
|    O013| North|     Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|            1|
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|            2|
|    O021| North|     Delhi|      Rest-01|    Pasta|2024-02-06|   370|               30|            3|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|            4|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|            1|
|    O017| North|Chandigarh|      Rest-02|   Burger|2024-02-05|   260|               26|            2|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|            1|
|    O006| South| Bangalore|      Rest-03|    Pasta|2024-02-03|   380|               32|            2|
|    O018| South| Bangalore|      Rest-03|   Burger|2024-02-05|   290|               29|            3|
|    O014| South|   Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|            1|
|    O022| South|   Chennai|      Rest-04|    Pasta|2024-02-06|   330|               29|            2|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|            3|
|    O007|  East|   Kolkata|      Rest-05|    Pizza|2024-02-01|   420|               38|            1|
|    O019|  East|   Kolkata|      Rest-05|    Pasta|2024-02-05|   360|               33|            2|
|    O008|  East|   Kolkata|      Rest-05|   Burger|2024-02-02|   260|               26|            3|
|    O023|  East|     Patna|      Rest-06|    Pizza|2024-02-06|   460|               36|            1|
|    O009|  East|     Patna|      Rest-06|    Pasta|2024-02-03|   300|               28|            2|
|    O015|  East|     Patna|      Rest-06|   Burger|2024-02-04|   240|               24|            3|
|    O010|  West|    Mumbai|      Rest-07|    Pizza|2024-02-01|   520|               42|            1|
|    O020|  West|    Mumbai|      Rest-07|    Pasta|2024-02-05|   390|               34|            2|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank

w = Window.partitionBy("food_item").orderBy(col("region").desc())

df_out = df_orders.withColumn("running", f.dense_rank().over(w))
df_out.show()

+--------+------+----------+-------------+---------+----------+------+-----------------+-------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|running|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------+
|    O011|  West|    Mumbai|      Rest-07|   Burger|2024-02-02|   280|               27|      1|
|    O024|  West|      Pune|      Rest-08|   Burger|2024-02-06|   270|               26|      1|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|      2|
|    O018| South| Bangalore|      Rest-03|   Burger|2024-02-05|   290|               29|      2|
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|      3|
|    O017| North|Chandigarh|      Rest-02|   Burger|2024-02-05|   260|               26|      3|
|    O008|  East|   Kolkata|      Rest-05|   Burger|2024-02-02|   260|               26|      4|
|    O015|  East|     Patna|      Rest-06|   Burger|2024-02-04|   240|               24|      4|
|    O012|  West|      Pune|      Rest-08|    Pasta|2024-02-03|   340|               31|      1|
|    O020|  West|    Mumbai|      Rest-07|    Pasta|2024-02-05|   390|               34|      1|
|    O006| South| Bangalore|      Rest-03|    Pasta|2024-02-03|   380|               32|      2|
|    O022| South|   Chennai|      Rest-04|    Pasta|2024-02-06|   330|               29|      2|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|      3|
|    O021| North|     Delhi|      Rest-01|    Pasta|2024-02-06|   370|               30|      3|
|    O009|  East|     Patna|      Rest-06|    Pasta|2024-02-03|   300|               28|      4|
|    O019|  East|   Kolkata|      Rest-05|    Pasta|2024-02-05|   360|               33|      4|
|    O010|  West|    Mumbai|      Rest-07|    Pizza|2024-02-01|   520|               42|      1|
|    O016|  West|      Pune|      Rest-08|    Pizza|2024-02-04|   500|               39|      1|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|      2|
|    O014| South|   Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|      2|
+--------+------+----------+-------------+---------+----------+------+-----------------+-------+
only showing top 20 rows

In [ ]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank

w = Window.partitionBy("region").orderBy(col("amount").desc())

df_out = df_orders.withColumn("running_total", f.rank().over(w)).filter(col("running_total")<=2)
df_out.show()

+--------+------+---------+-------------+---------+----------+------+-----------------+-------------+
|order_id|region|     city|restaurant_id|food_item|order_date|amount|delivery_time_min|running_total|
+--------+------+---------+-------------+---------+----------+------+-----------------+-------------+
|    O023|  East|    Patna|      Rest-06|    Pizza|2024-02-06|   460|               36|            1|
|    O007|  East|  Kolkata|      Rest-05|    Pizza|2024-02-01|   420|               38|            2|
|    O013| North|    Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|            1|
|    O001| North|    Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|            2|
|    O014| South|  Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|            1|
|    O004| South|Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|            2|
|    O010|  West|   Mumbai|      Rest-07|    Pizza|2024-02-01|   520|               42|            1|
|    O016|  West|     Pune|      Rest-08|    Pizza|2024-02-04|   500|               39|            2|
+--------+------+---------+-------------+---------+----------+------+-----------------+-------------+

In [ ]:

from pyspark.sql import functions as F
from pyspark.sql.window import Window

w = Window.partitionBy("restaurant_id").orderBy("delivery_time_min")

df2 = df_orders.withColumn(
    "cumulative_time",
    F.sum("delivery_time_min").over(w)
)

df2.show()

+--------+------+----------+-------------+---------+----------+------+-----------------+---------------+
|order_id|region|      city|restaurant_id|food_item|order_date|amount|delivery_time_min|cumulative_time|
+--------+------+----------+-------------+---------+----------+------+-----------------+---------------+
|    O002| North|     Delhi|      Rest-01|   Burger|2024-02-01|   250|               25|             25|
|    O021| North|     Delhi|      Rest-01|    Pasta|2024-02-06|   370|               30|             55|
|    O001| North|     Delhi|      Rest-01|    Pizza|2024-02-01|   450|               35|             90|
|    O013| North|     Delhi|      Rest-01|    Pizza|2024-02-04|   480|               37|            127|
|    O017| North|Chandigarh|      Rest-02|   Burger|2024-02-05|   260|               26|             26|
|    O003| North|Chandigarh|      Rest-02|    Pasta|2024-02-02|   350|               30|             56|
|    O018| South| Bangalore|      Rest-03|   Burger|2024-02-05|   290|               29|             29|
|    O006| South| Bangalore|      Rest-03|    Pasta|2024-02-03|   380|               32|             61|
|    O004| South| Bangalore|      Rest-03|    Pizza|2024-02-01|   500|               40|            101|
|    O005| South|   Chennai|      Rest-04|   Burger|2024-02-02|   220|               20|             20|
|    O022| South|   Chennai|      Rest-04|    Pasta|2024-02-06|   330|               29|             49|
|    O014| South|   Chennai|      Rest-04|    Pizza|2024-02-04|   510|               41|             90|
|    O008|  East|   Kolkata|      Rest-05|   Burger|2024-02-02|   260|               26|             26|
|    O019|  East|   Kolkata|      Rest-05|    Pasta|2024-02-05|   360|               33|             59|
|    O007|  East|   Kolkata|      Rest-05|    Pizza|2024-02-01|   420|               38|             97|
|    O015|  East|     Patna|      Rest-06|   Burger|2024-02-04|   240|               24|             24|
|    O009|  East|     Patna|      Rest-06|    Pasta|2024-02-03|   300|               28|             52|
|    O023|  East|     Patna|      Rest-06|    Pizza|2024-02-06|   460|               36|             88|
|    O011|  West|    Mumbai|      Rest-07|   Burger|2024-02-02|   280|               27|             27|
|    O020|  West|    Mumbai|      Rest-07|    Pasta|2024-02-05|   390|               34|             61|
+--------+------+----------+-------------+---------+----------+------+-----------------+---------------+
only showing top 20 rows