<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/17th-Dec-2025/Spark1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Exercise").getOrCreate()

In [4]:
sales_data = [
("T001","North","Delhi","Store-01","Laptop","2024-01-01",75000),
("T002","North","Delhi","Store-01","Mobile","2024-01-02",32000),
("T003","North","Chandigarh","Store-02","Tablet","2024-01-03",26000),
("T004","South","Bangalore","Store-03","Laptop","2024-01-01",78000),
("T005","South","Chennai","Store-04","Mobile","2024-01-02",30000),
("T006","South","Bangalore","Store-03","Tablet","2024-01-03",24000),
("T007","East","Kolkata","Store-05","Laptop","2024-01-01",72000),
("T008","East","Kolkata","Store-05","Mobile","2024-01-02",28000),
("T009","East","Patna","Store-06","Tablet","2024-01-03",23000),
("T010","West","Mumbai","Store-07","Laptop","2024-01-01",80000),
("T011","West","Mumbai","Store-07","Mobile","2024-01-02",35000),
("T012","West","Pune","Store-08","Tablet","2024-01-03",27000),
("T013","North","Delhi","Store-01","Laptop","2024-01-04",76000),
("T014","South","Chennai","Store-04","Laptop","2024-01-04",79000),
("T015","East","Patna","Store-06","Mobile","2024-01-04",29000),
("T016","West","Pune","Store-08","Laptop","2024-01-04",77000),
("T017","North","Chandigarh","Store-02","Mobile","2024-01-05",31000),
("T018","South","Bangalore","Store-03","Mobile","2024-01-05",34000),
("T019","East","Kolkata","Store-05","Tablet","2024-01-05",25000),
("T020","West","Mumbai","Store-07","Tablet","2024-01-05",29000),
("T021","North","Delhi","Store-01","Tablet","2024-01-06",28000),
("T022","South","Chennai","Store-04","Tablet","2024-01-06",26000),
("T023","East","Patna","Store-06","Laptop","2024-01-06",74000),
("T024","West","Pune","Store-08","Mobile","2024-01-06",33000)
]
columns = [
"txn_id","region","city","store_id",
"product","sale_date","amount"
]
df_sales = spark.createDataFrame(sales_data, columns)
df_sales.show(5)
df_sales.printSchema()

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|
+------+------+----------+--------+-------+----------+------+
only showing top 5 rows
root
 |-- txn_id: string (nullable = true)
 |-- region: string (nullable = true)
 |-- city: string (nullable = true)
 |-- store_id: string (nullable = true)
 |-- product: string (nullable = true)
 |-- sale_date: string (nullable = true)
 |-- amount: long (nullable = true)

In [6]:
df_sales.select("txn_id" , "region" , "product" , "amount").show()

+------+------+-------+------+
|txn_id|region|product|amount|
+------+------+-------+------+
|  T001| North| Laptop| 75000|
|  T002| North| Mobile| 32000|
|  T003| North| Tablet| 26000|
|  T004| South| Laptop| 78000|
|  T005| South| Mobile| 30000|
|  T006| South| Tablet| 24000|
|  T007|  East| Laptop| 72000|
|  T008|  East| Mobile| 28000|
|  T009|  East| Tablet| 23000|
|  T010|  West| Laptop| 80000|
|  T011|  West| Mobile| 35000|
|  T012|  West| Tablet| 27000|
|  T013| North| Laptop| 76000|
|  T014| South| Laptop| 79000|
|  T015|  East| Mobile| 29000|
|  T016|  West| Laptop| 77000|
|  T017| North| Mobile| 31000|
|  T018| South| Mobile| 34000|
|  T019|  East| Tablet| 25000|
|  T020|  West| Tablet| 29000|
+------+------+-------+------+
only showing top 20 rows

In [7]:
df_sales.withColumnRenamed("amount","revenue").show()

+------+------+----------+--------+-------+----------+-------+
|txn_id|region|      city|store_id|product| sale_date|revenue|
+------+------+----------+--------+-------+----------+-------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01|  75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02|  32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03|  26000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01|  78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02|  30000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03|  24000|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01|  72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02|  28000|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03|  23000|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01|  80000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02|  35000|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03|  27000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04|  76000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04|  79000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04|  29000|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04|  77000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05|  31000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05|  34000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05|  25000|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05|  29000|
+------+------+----------+--------+-------+----------+-------+
only showing top 20 rows

In [8]:
from pyspark.sql.functions import col
df_sales.withColumn("amount_in_thousands",col("amount")/1000).show()

+------+------+----------+--------+-------+----------+------+-------------------+
|txn_id|region|      city|store_id|product| sale_date|amount|amount_in_thousands|
+------+------+----------+--------+-------+----------+------+-------------------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|               75.0|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|               32.0|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|               26.0|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|               78.0|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|               30.0|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|               24.0|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|               72.0|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|               28.0|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|               23.0|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|               80.0|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|               35.0|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|               27.0|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|               76.0|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|               79.0|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|               29.0|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|               77.0|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|               31.0|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|               34.0|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|               25.0|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|               29.0|
+------+------+----------+--------+-------+----------+------+-------------------+
only showing top 20 rows

In [9]:
df_sales.select("region","product").distinct().show()

+------+-------+
|region|product|
+------+-------+
| North| Laptop|
| North| Tablet|
|  East| Tablet|
|  East| Laptop|
| South| Tablet|
| North| Mobile|
|  West| Tablet|
|  East| Mobile|
| South| Mobile|
| South| Laptop|
|  West| Mobile|
|  West| Laptop|
+------+-------+

In [12]:
s=df_sales.select("region","product","txn_id","region","city",
"product","sale_date","amount").show(5)

+------+-------+------+------+----------+-------+----------+------+
|region|product|txn_id|region|      city|product| sale_date|amount|
+------+-------+------+------+----------+-------+----------+------+
| North| Laptop|  T001| North|     Delhi| Laptop|2024-01-01| 75000|
| North| Mobile|  T002| North|     Delhi| Mobile|2024-01-02| 32000|
| North| Tablet|  T003| North|Chandigarh| Tablet|2024-01-03| 26000|
| South| Laptop|  T004| South| Bangalore| Laptop|2024-01-01| 78000|
| South| Mobile|  T005| South|   Chennai| Mobile|2024-01-02| 30000|
+------+-------+------+------+----------+-------+----------+------+
only showing top 5 rows

In [13]:
from pyspark.sql.functions import col
df_sales.withColumn("sale_year",col("sale_date").substr(1,4)).show()

+------+------+----------+--------+-------+----------+------+---------+
|txn_id|region|      city|store_id|product| sale_date|amount|sale_year|
+------+------+----------+--------+-------+----------+------+---------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|     2024|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|     2024|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|     2024|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|     2024|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|     2024|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|     2024|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|     2024|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|     2024|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|     2024|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|     2024|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|     2024|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|     2024|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|     2024|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|     2024|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|     2024|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|     2024|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|     2024|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|     2024|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|     2024|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|     2024|
+------+------+----------+--------+-------+----------+------+---------+
only showing top 20 rows

In [16]:


new_order = ['txn_id', 'region', 'city','sale_date', 'amount','store_id','product']
df_sales.select(new_order).show()

+------+------+----------+----------+------+--------+-------+
|txn_id|region|      city| sale_date|amount|store_id|product|
+------+------+----------+----------+------+--------+-------+
|  T001| North|     Delhi|2024-01-01| 75000|Store-01| Laptop|
|  T002| North|     Delhi|2024-01-02| 32000|Store-01| Mobile|
|  T003| North|Chandigarh|2024-01-03| 26000|Store-02| Tablet|
|  T004| South| Bangalore|2024-01-01| 78000|Store-03| Laptop|
|  T005| South|   Chennai|2024-01-02| 30000|Store-04| Mobile|
|  T006| South| Bangalore|2024-01-03| 24000|Store-03| Tablet|
|  T007|  East|   Kolkata|2024-01-01| 72000|Store-05| Laptop|
|  T008|  East|   Kolkata|2024-01-02| 28000|Store-05| Mobile|
|  T009|  East|     Patna|2024-01-03| 23000|Store-06| Tablet|
|  T010|  West|    Mumbai|2024-01-01| 80000|Store-07| Laptop|
|  T011|  West|    Mumbai|2024-01-02| 35000|Store-07| Mobile|
|  T012|  West|      Pune|2024-01-03| 27000|Store-08| Tablet|
|  T013| North|     Delhi|2024-01-04| 76000|Store-01| Laptop|
|  T014| South|   Chennai|2024-01-04| 79000|Store-04| Laptop|
|  T015|  East|     Patna|2024-01-04| 29000|Store-06| Mobile|
|  T016|  West|      Pune|2024-01-04| 77000|Store-08| Laptop|
|  T017| North|Chandigarh|2024-01-05| 31000|Store-02| Mobile|
|  T018| South| Bangalore|2024-01-05| 34000|Store-03| Mobile|
|  T019|  East|   Kolkata|2024-01-05| 25000|Store-05| Tablet|
|  T020|  West|    Mumbai|2024-01-05| 29000|Store-07| Tablet|
+------+------+----------+----------+------+--------+-------+
only showing top 20 rows

In [20]:
from pyspark.sql.functions import col
df_sales.filter(col("amount")>50000).show()

+------+------+---------+--------+-------+----------+------+
|txn_id|region|     city|store_id|product| sale_date|amount|
+------+------+---------+--------+-------+----------+------+
|  T001| North|    Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T004| South|Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T007|  East|  Kolkata|Store-05| Laptop|2024-01-01| 72000|
|  T010|  West|   Mumbai|Store-07| Laptop|2024-01-01| 80000|
|  T013| North|    Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T014| South|  Chennai|Store-04| Laptop|2024-01-04| 79000|
|  T016|  West|     Pune|Store-08| Laptop|2024-01-04| 77000|
|  T023|  East|    Patna|Store-06| Laptop|2024-01-06| 74000|
+------+------+---------+--------+-------+----------+------+

In [21]:
from pyspark.sql.functions import col
df_sales.filter(col("product")=="Laptop").show()

+------+------+---------+--------+-------+----------+------+
|txn_id|region|     city|store_id|product| sale_date|amount|
+------+------+---------+--------+-------+----------+------+
|  T001| North|    Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T004| South|Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T007|  East|  Kolkata|Store-05| Laptop|2024-01-01| 72000|
|  T010|  West|   Mumbai|Store-07| Laptop|2024-01-01| 80000|
|  T013| North|    Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T014| South|  Chennai|Store-04| Laptop|2024-01-04| 79000|
|  T016|  West|     Pune|Store-08| Laptop|2024-01-04| 77000|
|  T023|  East|    Patna|Store-06| Laptop|2024-01-06| 74000|
+------+------+---------+--------+-------+----------+------+

In [25]:

from pyspark.sql.functions import col

df_sales.filter((col("region") == "North") | (col("region") == "South")).show()

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|
+------+------+----------+--------+-------+----------+------+

In [26]:
from pyspark.sql.functions import col

df_sales.filter((col("amount") >=25000)& (col("amount") <= 75000)).show()

+------+------+----------+--------+-------+----------+------+
|txn_id|region|      city|store_id|product| sale_date|amount|
+------+------+----------+--------+-------+----------+------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|
|  T012|  West|      Pune|Store-08| Tablet|2024-01-03| 27000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|
|  T020|  West|    Mumbai|Store-07| Tablet|2024-01-05| 29000|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|
|  T024|  West|      Pune|Store-08| Mobile|2024-01-06| 33000|
+------+------+----------+--------+-------+----------+------+

In [27]:
from pyspark.sql.functions import col

df_sales.filter(col("city") =="Delhi").show()

+------+------+-----+--------+-------+----------+------+
|txn_id|region| city|store_id|product| sale_date|amount|
+------+------+-----+--------+-------+----------+------+
|  T001| North|Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T013| North|Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T021| North|Delhi|Store-01| Tablet|2024-01-06| 28000|
+------+------+-----+--------+-------+----------+------+

In [28]:
df_check=df_sales.filter(col("city")=="Delhi").where(col("region")=="North")
df_check.show()

+------+------+-----+--------+-------+----------+------+
|txn_id|region| city|store_id|product| sale_date|amount|
+------+------+-----+--------+-------+----------+------+
|  T001| North|Delhi|Store-01| Laptop|2024-01-01| 75000|
|  T002| North|Delhi|Store-01| Mobile|2024-01-02| 32000|
|  T013| North|Delhi|Store-01| Laptop|2024-01-04| 76000|
|  T021| North|Delhi|Store-01| Tablet|2024-01-06| 28000|
+------+------+-----+--------+-------+----------+------+

In [30]:
df_a=df_sales.filter(col("city")=="Delhi").where(col("region")=="North")
df_b=df_sales.filter(col("city")=="Kolkata").where(col("region")=="East")
df_a.explain(True)
df_b.explain(True)

**Both plans should show the same logical and physical plan, with a single Filter node combining both conditions (e.g., Filter ((city#... = Delhi) AND (region#... = North))).**
**This demonstrates that order doesnâ€™t matter for filter predicates; Spark merges them**.

In [30]:
df_sales.explain(True)

In [33]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("region").agg(f.sum("amount").alias("total_amount"))
df_c.show()

+------+------------+
|region|total_amount|
+------+------------+
| South|      271000|
|  East|      251000|
|  West|      281000|
| North|      268000|
+------+------------+

In [34]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("Product").agg(f.mean("amount").alias("total_amount"))
df_c.show()

+-------+------------+
|Product|total_amount|
+-------+------------+
| Laptop|     76375.0|
| Mobile|     31500.0|
| Tablet|     26000.0|
+-------+------------+

In [35]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("City").agg(f.max("amount").alias("total_amount"))
df_c.show()

+----------+------------+
|      City|total_amount|
+----------+------------+
| Bangalore|       78000|
|     Patna|       74000|
|   Chennai|       79000|
|    Mumbai|       80000|
|   Kolkata|       72000|
|      Pune|       77000|
|     Delhi|       76000|
|Chandigarh|       31000|
+----------+------------+

In [36]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("City").agg(f.min("amount").alias("total_amount"))
df_c.show()

+----------+------------+
|      City|total_amount|
+----------+------------+
| Bangalore|       24000|
|     Patna|       23000|
|   Chennai|       26000|
|    Mumbai|       29000|
|   Kolkata|       25000|
|      Pune|       27000|
|     Delhi|       28000|
|Chandigarh|       26000|
+----------+------------+

In [37]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("Region").agg(f.count("txn_id").alias("total_count"))
df_c.show()

+------+-----------+
|Region|total_count|
+------+-----------+
| South|          6|
|  East|          6|
|  West|          6|
| North|          6|
+------+-----------+

In [38]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("store_id").agg(f.sum("amount").alias("total_amount"))
df_c.show()

+--------+------------+
|store_id|total_amount|
+--------+------------+
|Store-05|      125000|
|Store-06|      126000|
|Store-03|      136000|
|Store-01|      211000|
|Store-04|      135000|
|Store-07|      144000|
|Store-08|      137000|
|Store-02|       57000|
+--------+------------+

In [40]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("City").agg(f.mean("amount").alias("avg_amount"))
df_c.show()

+----------+------------------+
|      City|        avg_amount|
+----------+------------------+
| Bangalore|45333.333333333336|
|     Patna|           42000.0|
|   Chennai|           45000.0|
|    Mumbai|           48000.0|
|   Kolkata|41666.666666666664|
|      Pune|45666.666666666664|
|     Delhi|           52750.0|
|Chandigarh|           28500.0|
+----------+------------------+

In [43]:

from pyspark.sql import functions as f
threshold=270000
df_c=df_sales.groupBy("region").agg(f.sum("amount").alias("total_amount"))
df_d=df_c.filter(col("total_amount")>threshold)
df_d.show()

+------+------------+
|region|total_amount|
+------+------------+
| South|      271000|
|  West|      281000|
+------+------------+

In [39]:
from pyspark.sql import functions as f
df_c=df_sales.groupBy("Region").agg(f.count("product"))
df_c.show()

+------+--------------+
|Region|count(product)|
+------+--------------+
| South|             6|
|  East|             6|
|  West|             6|
| North|             6|
+------+--------------+

In [46]:
df_c.explain(True)

In [48]:
df_c=df_sales.groupBy("region","product").agg(f.sum("amount").alias("total_amount"))
df_c.show()

+------+-------+------------+
|region|product|total_amount|
+------+-------+------------+
| North| Laptop|      151000|
| North| Tablet|       54000|
|  East| Tablet|       48000|
|  East| Laptop|      146000|
| South| Tablet|       50000|
| North| Mobile|       63000|
|  West| Tablet|       56000|
|  East| Mobile|       57000|
| South| Mobile|       64000|
| South| Laptop|      157000|
|  West| Mobile|       68000|
|  West| Laptop|      157000|
+------+-------+------------+

In [49]:
df_c=df_sales.groupBy("city","store_id").agg(f.mean("amount").alias("total_amount"))
df_c.show()

+----------+--------+------------------+
|      city|store_id|      total_amount|
+----------+--------+------------------+
| Bangalore|Store-03|45333.333333333336|
|     Patna|Store-06|           42000.0|
|   Chennai|Store-04|           45000.0|
|      Pune|Store-08|45666.666666666664|
|Chandigarh|Store-02|           28500.0|
|   Kolkata|Store-05|41666.666666666664|
|    Mumbai|Store-07|           48000.0|
|     Delhi|Store-01|           52750.0|
+----------+--------+------------------+

In [50]:
df_c=df_sales.groupBy("region","city").agg(f.count("txn_id").alias("total_count"))
df_c.show()

+------+----------+-----------+
|region|      city|total_count|
+------+----------+-----------+
|  West|    Mumbai|          3|
| South| Bangalore|          3|
| North|     Delhi|          4|
| North|Chandigarh|          2|
| South|   Chennai|          3|
|  West|      Pune|          3|
|  East|   Kolkata|          3|
|  East|     Patna|          3|
+------+----------+-----------+

In [51]:
df_c=df_sales.groupBy("product","store_id").agg(f.max("amount").alias("max_total"))
df_c.show()

+-------+--------+---------+
|product|store_id|max_total|
+-------+--------+---------+
| Tablet|Store-06|    23000|
| Laptop|Store-07|    80000|
| Laptop|Store-01|    76000|
| Tablet|Store-02|    26000|
| Mobile|Store-01|    32000|
| Laptop|Store-03|    78000|
| Tablet|Store-08|    27000|
| Tablet|Store-03|    24000|
| Mobile|Store-04|    30000|
| Mobile|Store-07|    35000|
| Mobile|Store-05|    28000|
| Laptop|Store-05|    72000|
| Tablet|Store-01|    28000|
| Tablet|Store-07|    29000|
| Laptop|Store-08|    77000|
| Mobile|Store-08|    33000|
| Laptop|Store-04|    79000|
| Tablet|Store-05|    25000|
| Tablet|Store-04|    26000|
| Laptop|Store-06|    74000|
+-------+--------+---------+
only showing top 20 rows

In [69]:

df_c=df_sales.groupBy("region","product").agg(f.sum("amount").alias("max_total"))
df_c.show()

df_top = (
    df_c.groupBy("region").agg(f.max(f.struct("max_total", "product"))
))
df_top.show()

+------+-------+---------+
|region|product|max_total|
+------+-------+---------+
| North| Laptop|   151000|
| North| Tablet|    54000|
|  East| Tablet|    48000|
|  East| Laptop|   146000|
| South| Tablet|    50000|
| North| Mobile|    63000|
|  West| Tablet|    56000|
|  East| Mobile|    57000|
| South| Mobile|    64000|
| South| Laptop|   157000|
|  West| Mobile|    68000|
|  West| Laptop|   157000|
+------+-------+---------+

+------+-------------------------------+
|region|max(struct(max_total, product))|
+------+-------------------------------+
|  East|               {146000, Laptop}|
| North|               {151000, Laptop}|
| South|               {157000, Laptop}|
|  West|               {157000, Laptop}|
+------+-------------------------------+

In [74]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank

w = Window.partitionBy("region").orderBy(col("sale_date"), col("txn_id"))

df_out = df_sales.withColumn("running_total", f.sum(col("amount")).over(w))
df_out.show()

+------+------+----------+--------+-------+----------+------+-------------+
|txn_id|region|      city|store_id|product| sale_date|amount|running_total|
+------+------+----------+--------+-------+----------+------+-------------+
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|        72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|       100000|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|       123000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|       152000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|       177000|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|       251000|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|        75000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|       107000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|       133000|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|       209000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|       240000|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|       268000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|        78000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|       108000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|       132000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|       211000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|       245000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|       271000|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|        80000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|       115000|
+------+------+----------+--------+-------+----------+------+-------------+
only showing top 20 rows

In [75]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank
w=  Window.partitionBy("store_id").orderBy(col("amount").desc())
df_out=df_sales.withColumn("row_numbers",f.row_number().over(w))
df_out.show()

+------+------+----------+--------+-------+----------+------+-----------+
|txn_id|region|      city|store_id|product| sale_date|amount|row_numbers|
+------+------+----------+--------+-------+----------+------+-----------+
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|          1|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|          2|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|          3|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|          4|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|          1|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|          2|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|          1|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|          2|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|          3|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|          1|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|          2|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|          3|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|          1|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|          2|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|          3|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|          1|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|          2|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|          3|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|          1|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|          2|
+------+------+----------+--------+-------+----------+------+-----------+
only showing top 20 rows

In [78]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank
w=  Window.partitionBy("region").orderBy(col("product"))
df_out=df_sales.withColumn("rank",f.dense_rank().over(w))
df_out.show()

+------+------+----------+--------+-------+----------+------+----+
|txn_id|region|      city|store_id|product| sale_date|amount|rank|
+------+------+----------+--------+-------+----------+------+----+
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|   1|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|   1|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|   2|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|   2|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|   3|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|   3|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|   1|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|   1|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|   2|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|   2|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|   3|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|   3|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|   1|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|   1|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|   2|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|   2|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|   3|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|   3|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|   1|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|   1|
+------+------+----------+--------+-------+----------+------+----+
only showing top 20 rows

In [73]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank
w=Window.partitionBy("region").orderBy(col("amount").desc())
df_out=df_sales.withColumn("rank",f.rank().over(w))
df_out.show()

+------+------+----------+--------+-------+----------+------+----+
|txn_id|region|      city|store_id|product| sale_date|amount|rank|
+------+------+----------+--------+-------+----------+------+----+
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|   1|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|   2|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|   3|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|   4|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|   5|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|   6|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|   1|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|   2|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|   3|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|   4|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|   5|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|   6|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|   1|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|   2|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|   3|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|   4|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|   5|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|   6|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|   1|
|  T016|  West|      Pune|Store-08| Laptop|2024-01-04| 77000|   2|
+------+------+----------+--------+-------+----------+------+----+
only showing top 20 rows

In [82]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank
w=  Window.partitionBy("region").orderBy(col("amount").desc())
df_out=df_sales.withColumn("rank",f.dense_rank().over(w)).filter(col("rank")<=2)
df_out.show()

+------+------+---------+--------+-------+----------+------+----+
|txn_id|region|     city|store_id|product| sale_date|amount|rank|
+------+------+---------+--------+-------+----------+------+----+
|  T023|  East|    Patna|Store-06| Laptop|2024-01-06| 74000|   1|
|  T007|  East|  Kolkata|Store-05| Laptop|2024-01-01| 72000|   2|
|  T013| North|    Delhi|Store-01| Laptop|2024-01-04| 76000|   1|
|  T001| North|    Delhi|Store-01| Laptop|2024-01-01| 75000|   2|
|  T014| South|  Chennai|Store-04| Laptop|2024-01-04| 79000|   1|
|  T004| South|Bangalore|Store-03| Laptop|2024-01-01| 78000|   2|
|  T010|  West|   Mumbai|Store-07| Laptop|2024-01-01| 80000|   1|
|  T016|  West|     Pune|Store-08| Laptop|2024-01-04| 77000|   2|
+------+------+---------+--------+-------+----------+------+----+

**rank()**
Assigns the same rank to tied values, but skips numbers after a tie.
Example: 1, 1, 3, 4 (notice it skipped 2 because two rows shared rank 1).


**dense_rank()**
Assigns the same rank to tied values, but does NOT skip numbers.
Example: 1, 1, 2, 3 (no gaps).

In [83]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank
w=  Window.partitionBy("store_id").orderBy(col("amount").desc())
df_out=df_sales.withColumn("total_cummalative_sales",f.sum(col("amount")).over(w))
df_out.show()

+------+------+----------+--------+-------+----------+------+-----------------------+
|txn_id|region|      city|store_id|product| sale_date|amount|total_cummalative_sales|
+------+------+----------+--------+-------+----------+------+-----------------------+
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|                  76000|
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|                 151000|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|                 183000|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|                 211000|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|                  31000|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|                  57000|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|                  78000|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|                 112000|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|                 136000|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|                  79000|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|                 109000|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|                 135000|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|                  72000|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|                 100000|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|                 125000|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|                  74000|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|                 103000|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|                 126000|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|                  80000|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|                 115000|
+------+------+----------+--------+-------+----------+------+-----------------------+
only showing top 20 rows

In [103]:
from pyspark.sql.window import Window
from pyspark.sql.functions import sum, rank, row_number, dense_rank
w_a=Window.partitionBy("store_id").orderBy(col("sale_date").asc())
w_d=Window.partitionBy("store_id").orderBy(col("sale_date").desc())
df_out = (df_sales
          .withColumn("rn_first", row_number().over(w_a)))

df_out.show()

+------+------+----------+--------+-------+----------+------+--------+
|txn_id|region|      city|store_id|product| sale_date|amount|rn_first|
+------+------+----------+--------+-------+----------+------+--------+
|  T001| North|     Delhi|Store-01| Laptop|2024-01-01| 75000|       1|
|  T002| North|     Delhi|Store-01| Mobile|2024-01-02| 32000|       2|
|  T013| North|     Delhi|Store-01| Laptop|2024-01-04| 76000|       3|
|  T021| North|     Delhi|Store-01| Tablet|2024-01-06| 28000|       4|
|  T003| North|Chandigarh|Store-02| Tablet|2024-01-03| 26000|       1|
|  T017| North|Chandigarh|Store-02| Mobile|2024-01-05| 31000|       2|
|  T004| South| Bangalore|Store-03| Laptop|2024-01-01| 78000|       1|
|  T006| South| Bangalore|Store-03| Tablet|2024-01-03| 24000|       2|
|  T018| South| Bangalore|Store-03| Mobile|2024-01-05| 34000|       3|
|  T005| South|   Chennai|Store-04| Mobile|2024-01-02| 30000|       1|
|  T014| South|   Chennai|Store-04| Laptop|2024-01-04| 79000|       2|
|  T022| South|   Chennai|Store-04| Tablet|2024-01-06| 26000|       3|
|  T007|  East|   Kolkata|Store-05| Laptop|2024-01-01| 72000|       1|
|  T008|  East|   Kolkata|Store-05| Mobile|2024-01-02| 28000|       2|
|  T019|  East|   Kolkata|Store-05| Tablet|2024-01-05| 25000|       3|
|  T009|  East|     Patna|Store-06| Tablet|2024-01-03| 23000|       1|
|  T015|  East|     Patna|Store-06| Mobile|2024-01-04| 29000|       2|
|  T023|  East|     Patna|Store-06| Laptop|2024-01-06| 74000|       3|
|  T010|  West|    Mumbai|Store-07| Laptop|2024-01-01| 80000|       1|
|  T011|  West|    Mumbai|Store-07| Mobile|2024-01-02| 35000|       2|
+------+------+----------+--------+-------+----------+------+--------+
only showing top 20 rows

In [104]:
f_sel = df_sales.select("region", "city", "amount")
f_sel.explain(True)

In [105]:
df_fil = df_sales.filter((col("region") == "North") & (col("amount") > 1000))
df_fil.explain(True)

In [107]:
df_grp = df_sales.groupBy("region").agg(f.sum("amount").alias("total_sales"))
df_grp.explain(True)

In [108]:

from pyspark.sql.window import Window
from pyspark.sql.functions import col, sum as F_sum

w = Window.partitionBy("region").orderBy(col("sale_date").asc()) \
          .rowsBetween(Window.unboundedPreceding, Window.currentRow)

df_win = df_sales.withColumn("running_total", F_sum(col("amount")).over(w))
df_win.explain(True)

== Parsed Logical Plan ==
'Project [unresolvedstarwithcolumns(running_total, 'sum('amount) windowspecdefinition('region, 'sale_date ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())), None)]
+- LogicalRDD [txn_id#0, region#1, city#2, store_id#3, product#4, sale_date#5, amount#6L], false

== Analyzed Logical Plan ==
txn_id: string, region: string, city: string, store_id: string, product: string, sale_date: string, amount: bigint, running_total: bigint
Project [txn_id#0, region#1, city#2, store_id#3, product#4, sale_date#5, amount#6L, running_total#1949L]
+- Project [txn_id#0, region#1, city#2, store_id#3, product#4, sale_date#5, amount#6L, running_total#1949L, running_total#1949L]
   +- Window [sum(amount#6L) windowspecdefinition(region#1, sale_date#5 ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS running_total#1949L], [region#1], [sale_date#5 ASC NULLS FIRST]
      +- Project [txn_id#0, region#1, city#2, store_id#3, product#4, sale_date#5, amount#6L]
         +- LogicalRDD [txn_id#0, region#1, city#2, store_id#3, product#4, sale_date#5, amount#6L], false

== Optimized Logical Plan ==
Window [sum(amount#6L) windowspecdefinition(region#1, sale_date#5 ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS running_total#1949L], [region#1], [sale_date#5 ASC NULLS FIRST]
+- LogicalRDD [txn_id#0, region#1, city#2, store_id#3, product#4, sale_date#5, amount#6L], false

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Window [sum(amount#6L) windowspecdefinition(region#1, sale_date#5 ASC NULLS FIRST, specifiedwindowframe(RowFrame, unboundedpreceding$(), currentrow$())) AS running_total#1949L], [region#1], [sale_date#5 ASC NULLS FIRST]
   +- Sort [region#1 ASC NULLS FIRST, sale_date#5 ASC NULLS FIRST], false, 0
      +- Exchange hashpartitioning(region#1, 200), ENSURE_REQUIREMENTS, [plan_id=4445]
         +- Scan ExistingRDD[txn_id#0,region#1,city#2,store_id#3,product#4,sale_date#5,amount#6L]

**Why window functions introduce sorting**


A window spec like Window.partitionBy("region").orderBy("sale_date") requires two things:

Partitioning by region: rows of the same region must be grouped. Spark typically performs an Exchange (shuffle) to repartition by the partition key.
Ordering by sale_date within each region: to compute running totals, ranks, first/last, etc., rows must be in a deterministic order. This introduces a Sort phase before the Window operator computes the frame (e.g., from the start of the partition to the current row).