<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/22nd-Dec-2025/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (4.0.1)
Requirement already satisfied: py4j==0.10.9.9 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.9)

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("SparkByExamples.com").getOrCreate()

In [ ]:
data=[
    ("James","Smith","USA","CA",19),
    ("Michael","Rose","USA","NY",1),
    ("Robert","Williams","USA","CA",3),
    ("Maria","Jones","USA","FL",4)
]
column=["firstname","lastname","country","state","amount"]
df=spark.createDataFrame(data=data,schema=column)
df.show(truncate=False)

+---------+--------+-------+-----+------+
|firstname|lastname|country|state|amount|
+---------+--------+-------+-----+------+
|James    |Smith   |USA    |CA   |19    |
|Michael  |Rose    |USA    |NY   |1     |
|Robert   |Williams|USA    |CA   |3     |
|Maria    |Jones   |USA    |FL   |4     |
+---------+--------+-------+-----+------+

In [ ]:
from pyspark.sql.functions import col
df.withColumn("tot",col("amount")*7).show()

+---------+--------+-------+-----+------+---+
|firstname|lastname|country|state|amount|tot|
+---------+--------+-------+-----+------+---+
|    James|   Smith|    USA|   CA|    19|133|
|  Michael|    Rose|    USA|   NY|     1|  7|
|   Robert|Williams|    USA|   CA|     3| 21|
|    Maria|   Jones|    USA|   FL|     4| 28|
+---------+--------+-------+-----+------+---+

In [ ]:
df.withColumnRenamed("firstname","realname").show()

+--------+--------+-------+-----+------+
|realname|lastname|country|state|amount|
+--------+--------+-------+-----+------+
|   James|   Smith|    USA|   CA|    19|
| Michael|    Rose|    USA|   NY|     1|
|  Robert|Williams|    USA|   CA|     3|
|   Maria|   Jones|    USA|   FL|     4|
+--------+--------+-------+-----+------+

In [ ]:
df.replace("CA","California").show()

+---------+--------+-------+----------+------+
|firstname|lastname|country|     state|amount|
+---------+--------+-------+----------+------+
|    James|   Smith|    USA|California|    19|
|  Michael|    Rose|    USA|        NY|     1|
|   Robert|Williams|    USA|California|     3|
|    Maria|   Jones|    USA|        FL|     4|
+---------+--------+-------+----------+------+

In [ ]:
from pyspark.sql.functions import when
df.withColumn("country",when(df.country=="USA","United States").otherwise(df.country)).show()

+---------+--------+-------------+-----+------+
|firstname|lastname|      country|state|amount|
+---------+--------+-------------+-----+------+
|    James|   Smith|United States|   CA|    19|
|  Michael|    Rose|United States|   NY|     1|
|   Robert|Williams|United States|   CA|     3|
|    Maria|   Jones|United States|   FL|     4|
+---------+--------+-------------+-----+------+