<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/22nd-Dec-2025/parquet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Exercise").getOrCreate()

In [3]:
data = [
    ("ORD001","Delhi","Laptop",45000,"2024-01-05"),
    ("ORD002","Mumbai","Mobile",32000,"2024-01-06"),
    ("ORD003","Bangalore","Tablet",30000,"2024-01-07"),
    ("ORD004","Delhi","Laptop",55000,"2024-01-08"),
    ("ORD005","Mumbai","Tablet",34000,"2024-01-09")
]
column=["iorder_id","city","product","price","date"]
df=spark.createDataFrame(data,column)
df.show()

+---------+---------+-------+-----+----------+
|iorder_id|     city|product|price|      date|
+---------+---------+-------+-----+----------+
|   ORD001|    Delhi| Laptop|45000|2024-01-05|
|   ORD002|   Mumbai| Mobile|32000|2024-01-06|
|   ORD003|Bangalore| Tablet|30000|2024-01-07|
|   ORD004|    Delhi| Laptop|55000|2024-01-08|
|   ORD005|   Mumbai| Tablet|34000|2024-01-09|
+---------+---------+-------+-----+----------+

In [5]:
df.write.mode("overwrite").parquet("data/parquet/orders")

In [6]:
df_p=spark.read.parquet("data/parquet/orders")
df_p.show()

+---------+---------+-------+-----+----------+
|iorder_id|     city|product|price|      date|
+---------+---------+-------+-----+----------+
|   ORD003|Bangalore| Tablet|30000|2024-01-07|
|   ORD004|    Delhi| Laptop|55000|2024-01-08|
|   ORD005|   Mumbai| Tablet|34000|2024-01-09|
|   ORD001|    Delhi| Laptop|45000|2024-01-05|
|   ORD002|   Mumbai| Mobile|32000|2024-01-06|
+---------+---------+-------+-----+----------+