<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/16th-Dec-2025/RDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('RDD').getOrCreate()

In [3]:
data = """id,name,city,age,salary
1,Arjun,Hyderabad,25,45000
2,Meera,Chennai,32,52000
3,Rajesh,Bangalore,29,61000
4,Priya,Delhi,22,38000
5,Sanjay,Mumbai,35,72000
6,Kavya,Hyderabad,28,48000
7,Imran,Delhi,31,53000
8,Divya,Chennai,27,45000
9,Anil,Bangalore,40,85000
10,Ritu,Mumbai,23,39000
"""

In [4]:
with open('employee.csv','w') as f:
    f.write(data)

In [5]:

rdd = spark.sparkContext.textFile('employee.csv')

In [6]:
rdd.take(5)

['id,name,city,age,salary',
 '1,Arjun,Hyderabad,25,45000',
 '2,Meera,Chennai,32,52000',
 '3,Rajesh,Bangalore,29,61000',
 '4,Priya,Delhi,22,38000']

In [7]:

header = rdd.first()
data_rdd = rdd.filter(lambda x: x != header)
data_rdd.collect()

['1,Arjun,Hyderabad,25,45000',
 '2,Meera,Chennai,32,52000',
 '3,Rajesh,Bangalore,29,61000',
 '4,Priya,Delhi,22,38000',
 '5,Sanjay,Mumbai,35,72000',
 '6,Kavya,Hyderabad,28,48000',
 '7,Imran,Delhi,31,53000',
 '8,Divya,Chennai,27,45000',
 '9,Anil,Bangalore,40,85000',
 '10,Ritu,Mumbai,23,39000']

In [8]:
split_rdd=data_rdd.map(lambda x:x.split(","))
split_rdd.collect()

[['1', 'Arjun', 'Hyderabad', '25', '45000'],
 ['2', 'Meera', 'Chennai', '32', '52000'],
 ['3', 'Rajesh', 'Bangalore', '29', '61000'],
 ['4', 'Priya', 'Delhi', '22', '38000'],
 ['5', 'Sanjay', 'Mumbai', '35', '72000'],
 ['6', 'Kavya', 'Hyderabad', '28', '48000'],
 ['7', 'Imran', 'Delhi', '31', '53000'],
 ['8', 'Divya', 'Chennai', '27', '45000'],
 ['9', 'Anil', 'Bangalore', '40', '85000'],
 ['10', 'Ritu', 'Mumbai', '23', '39000']]

In [9]:
city_salry_rdd=split_rdd.map(lambda x:(x[2],float(x[4])))
city_salry_rdd.collect()

[('Hyderabad', 45000.0),
 ('Chennai', 52000.0),
 ('Bangalore', 61000.0),
 ('Delhi', 38000.0),
 ('Mumbai', 72000.0),
 ('Hyderabad', 48000.0),
 ('Delhi', 53000.0),
 ('Chennai', 45000.0),
 ('Bangalore', 85000.0),
 ('Mumbai', 39000.0)]

In [10]:
total_salry_rdd=city_salry_rdd.reduceByKey(lambda x,y:x+y)
total_salry_rdd.collect()

[('Hyderabad', 93000.0),
 ('Delhi', 91000.0),
 ('Mumbai', 111000.0),
 ('Chennai', 97000.0),
 ('Bangalore', 146000.0)]

In [12]:
highest_city=total_salry_rdd.reduce(lambda a,b:a if a[1] > b[1] else b)
highest_city

('Bangalore', 146000.0)