<a href="https://colab.research.google.com/github/EYBishal/Python-Training-Bootcamp/blob/main/23rd-Dec-2025/cache.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Cache").getOrCreate()

In [3]:
data = [
    ("ORD001","Delhi","Laptop",45000),
    ("ORD002","Mumbai","Mobile",32000),
    ("ORD003","Bangalore","Laptop",52000),
    ("ORD004","Delhi","Tablet",28000),
    ("ORD005","Mumbai","Laptop",61000),
    ("ORD006","Chennai","Mobile",30000),
    ("ORD007","Delhi","Laptop",47000),
    ("ORD008","Bangalore","Tablet",35000),
    ("ORD009","Mumbai","Laptop",58000),
    ("ORD010","Delhi","Mobile",29000)
]

columns = ["order_id","city","product","amount"]

df = spark.createDataFrame(data, columns)
df.show()

+--------+---------+-------+------+
|order_id|     city|product|amount|
+--------+---------+-------+------+
|  ORD001|    Delhi| Laptop| 45000|
|  ORD002|   Mumbai| Mobile| 32000|
|  ORD003|Bangalore| Laptop| 52000|
|  ORD004|    Delhi| Tablet| 28000|
|  ORD005|   Mumbai| Laptop| 61000|
|  ORD006|  Chennai| Mobile| 30000|
|  ORD007|    Delhi| Laptop| 47000|
|  ORD008|Bangalore| Tablet| 35000|
|  ORD009|   Mumbai| Laptop| 58000|
|  ORD010|    Delhi| Mobile| 29000|
+--------+---------+-------+------+

**REQUIRED WHEN WE DO HEAVY COMPRESSION , LIKE TELECOM DATA**

In [4]:
high_df=df.filter(df.amount>40000)
high_df.show()

+--------+---------+-------+------+
|order_id|     city|product|amount|
+--------+---------+-------+------+
|  ORD001|    Delhi| Laptop| 45000|
|  ORD003|Bangalore| Laptop| 52000|
|  ORD005|   Mumbai| Laptop| 61000|
|  ORD007|    Delhi| Laptop| 47000|
|  ORD009|   Mumbai| Laptop| 58000|
+--------+---------+-------+------+

In [5]:
high_df.count()
high_df.groupBy("city").sum("amount").show()
high_df.groupBy("product").avg("amount").show()

+---------+-----------+
|     city|sum(amount)|
+---------+-----------+
|Bangalore|      52000|
|   Mumbai|     119000|
|    Delhi|      92000|
+---------+-----------+

+-------+-----------+
|product|avg(amount)|
+-------+-----------+
| Laptop|    52600.0|
+-------+-----------+

In [6]:
high_df.cache()
high_df.count()
high_df.groupBy("city").sum("amount").show()
high_df.groupBy("product").avg("amount").show()

+---------+-----------+
|     city|sum(amount)|
+---------+-----------+
|Bangalore|      52000|
|   Mumbai|     119000|
|    Delhi|      92000|
+---------+-----------+

+-------+-----------+
|product|avg(amount)|
+-------+-----------+
| Laptop|    52600.0|
+-------+-----------+

In [7]:
high_df.unpersist()

DataFrame[order_id: string, city: string, product: string, amount: bigint]